In [62]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
import pandas as pd
import os
import datetime,time

# Collecting and Cleaning data from New York Turnstiles traffic and the open weather sites into dataframes

In [63]:
df_ML_data = pd.read_csv('df_ML_weekdays.csv', header=0)

In [64]:
df_ML_data.head()

,Unnamed: 0,Station,Date,Time,Total_Traffic_Passengers,day_of_week
0,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday
1,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday
2,2,1 AV,2016-01-02,11:00:00,3.448000e+03,Saturday
3,3,1 AV,2016-01-02,15:00:00,7.706000e+03,Saturday
4,4,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday

In [65]:
df_weather = pd.read_csv('weather_data.csv', header=0)

In [66]:
df_weather.head()

,Unnamed: 0,Date,city_id,temp,humidity,wind_speed,rain_1h,rain_3h,rain_today,snow_today,clouds_all,weather_description,real_temp
0,0,2013-01-01,0:00:00,272.03,310,20.0,Clouds,few,02n,NaN,NaN,NaN,29.984
1,1,2013-01-01,1:00:00,271.46,310,20.0,Clouds,few,02n,NaN,NaN,NaN,28.958
2,2,2013-01-01,2:00:00,271.19,330,20.0,Clouds,few,02n,NaN,NaN,NaN,28.472
3,3,2013-01-01,3:00:00,271.07,300,20.0,Clouds,few,02n,NaN,NaN,NaN,28.256
4,4,2013-01-01,4:00:00,270.83,300,1.0,Clear,sky,clear,NaN,NaN,NaN,27.824

In [67]:
df_ML_data.columns

Index(['Unnamed: 0', 'Station', 'Date', 'Time', 'Total_Traffic_Passengers',
       'day_of_week'],
      dtype='object')

In [68]:
df_weather.columns

Index(['Unnamed: 0', 'Date', 'city_id', 'temp', 'humidity', 'wind_speed',
       'rain_1h', 'rain_3h', 'rain_today', 'snow_today', 'clouds_all',
       'weather_description', 'real_temp'],
      dtype='object')

In [25]:
#new_df_weather_data = df_weather[['dt_iso','temp','wind_speed','rain_today','snow_today','weather_description']]

In [61]:
#new_df_weather_data.head()

In [27]:
# new_df_weather_data['date'] = pd.to_datetime(new_df_weather_data['dt_iso'])

#new_df_weather_data.to_csv("clean_weather_Output.csv")

In [28]:
#clean_weather = pd.read_csv('clean_weather.csv', header=0)

In [69]:
df_weather['rain_today'].fillna(0, inplace=True)
df_weather['snow_today'].fillna(0, inplace=True)
df_weather['clouds_all'].fillna(0, inplace=True)
df_weather['weather_description'].fillna(0, inplace=True)

# Assemble the two dataframes into one datastructure for ML analysis

In [70]:
df_weather.head()

,Unnamed: 0,Date,city_id,temp,humidity,wind_speed,rain_1h,rain_3h,rain_today,snow_today,clouds_all,weather_description,real_temp
0,0,2013-01-01,0:00:00,272.03,310,20.0,Clouds,few,02n,0,NaN,NaN,29.984
1,1,2013-01-01,1:00:00,271.46,310,20.0,Clouds,few,02n,0,NaN,NaN,28.958
2,2,2013-01-01,2:00:00,271.19,330,20.0,Clouds,few,02n,0,NaN,NaN,28.472
3,3,2013-01-01,3:00:00,271.07,300,20.0,Clouds,few,02n,0,NaN,NaN,28.256
4,4,2013-01-01,4:00:00,270.83,300,1.0,Clear,sky,clear,0,NaN,NaN,27.824

In [71]:
df_ML_data.head()

,Unnamed: 0,Station,Date,Time,Total_Traffic_Passengers,day_of_week
0,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday
1,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday
2,2,1 AV,2016-01-02,11:00:00,3.448000e+03,Saturday
3,3,1 AV,2016-01-02,15:00:00,7.706000e+03,Saturday
4,4,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday

In [72]:
# Merge two dataframes using an inner join
df_ML_data2 = pd.merge(df_ML_data, df_weather, on=["Date"], how='left')

In [75]:
df_ML_data2

,Unnamed: 0_x,Station,Date,Time,Total_Traffic_Passengers,day_of_week,Unnamed: 0_y,city_id,temp,humidity,wind_speed,rain_1h,rain_3h,rain_today,snow_today,clouds_all,weather_description,real_temp
0,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28288,1:00:00,274.84,270,1.0,Clear,sky,clear,0,0.0,0.0,35.042
1,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28289,3:00:00,274.46,250,1.0,Clear,sky,clear,0,0.0,0.0,34.358
2,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28290,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
3,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28291,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
4,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28292,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
5,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28293,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
6,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28294,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
7,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28295,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
8,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28296,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
9,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28297,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
10,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28298,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
11,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28299,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
12,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28300,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
13,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28301,17:00:00,276.24,270,75.0,Clouds,broken,04d,0,0.0,0.0,37.562
14,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28302,19:00:00,277.15,270,75.0,Clouds,broken,04d,0,0.0,0.0,39.200
15,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28303,20:00:00,277.09,250,40.0,Clouds,scattered,03d,0,0.0,0.0,39.092
16,0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,28304,22:00:00,276.27,290,75.0,Clouds,broken,04n,0,0.0,0.0,37.616
17,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28288,1:00:00,274.84,270,1.0,Clear,sky,clear,0,0.0,0.0,35.042
18,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28289,3:00:00,274.46,250,1.0,Clear,sky,clear,0,0.0,0.0,34.358
19,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28290,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
20,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28291,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
21,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28292,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
22,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28293,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
23,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28294,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
24,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28295,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
25,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28296,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
26,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28297,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
27,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28298,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
28,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28299,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
29,1,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,28300,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34216031,1319172,ZEREGA AV,2016-12-30,16:00:00,9.000000e+02,Friday,37854,21:00:00,276.77,280,75.0,Mist,mist,0,0,0.0,0.0,38.516
34216032,1319172,ZEREGA AV,2016-12-30,16:00:00,9.000000e+02,Friday,37855,22:00:00,275.00,310,90.0,Snow,light,13n,0,0.0,0.0,35.330
34216033,1319172,ZEREGA AV,2016-12-30,16:00:00,9.000000e+02,Friday,37856,22:00:00,275.00,310,90.0,Mist,mist,0,0,0.0,0.0,35.330
34216034,1319172,ZEREGA AV,2016-12-30,16:00:00,9.000000e+02,Friday,37857,23:00:00,274.36,280,90.0,Snow,light,13n,0,0.0,0.0,34.178
34216035,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37832,0:00:00,276.14,290,40.0,Clouds,scattered,03n,0,0.0,0.0,37.382
34216036,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37833,1:00:00,275.86,290,75.0,Clouds,broken,04n,0,0.0,0.0,36.878
34216037,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37834,2:00:00,276.30,270,75.0,Clouds,broken,04n,0,0.0,0.0,37.670
34216038,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37835,3:00:00,275.65,270,75.0,Clouds,broken,04n,0,0.0,0.0,36.500
34216039,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37836,4:00:00,275.28,270,75.0,Clouds,broken,04n,0,0.0,0.0,35.834
34216040,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37837,5:00:00,275.53,270,40.0,Clouds,scattered,03n,0,0.0,0.0,36.284
34216041,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37838,6:00:00,275.08,270,1.0,Clear,sky,clear,0,0.0,0.0,35.474
34216042,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37839,7:00:00,274.72,270,1.0,Clear,sky,clear,0,0.0,0.0,34.826
34216043,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37840,8:00:00,274.43,280,1.0,Clear,sky,clear,0,0.0,0.0,34.304
34216044,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37841,9:00:00,273.61,270,1.0,Clear,sky,clear,0,0.0,0.0,32.828
34216045,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37842,10:00:00,273.81,270,1.0,Clear,sky,clear,0,0.0,0.0,33.188
34216046,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37843,11:00:00,274.15,265,1.0,Clear,sky,clear,0,0.0,0.0,33.800
34216047,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37844,12:00:00,274.15,250,20.0,Clouds,few,02n,0,0.0,0.0,33.800
34216048,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37845,13:00:00,273.99,250,20.0,Clouds,few,02d,0,0.0,0.0,33.512
34216049,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37846,14:00:00,274.14,260,1.0,Clear,sky,clear,0,0.0,0.0,33.782
34216050,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37847,15:00:00,275.37,300,40.0,Clouds,scattered,03d,0,0.0,0.0,35.996
34216051,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37848,16:00:00,276.45,300,40.0,Clouds,scattered,03d,0,0.0,0.0,37.940
34216052,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37849,17:00:00,276.91,290,90.0,Clouds,overcast,04d,0,0.0,0.0,38.768
34216053,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37850,18:00:00,276.99,290,75.0,Snow,light,13d,0,0.0,0.0,38.912
34216054,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37851,19:00:00,276.84,290,75.0,Snow,light,13d,0,0.0,0.0,38.642
34216055,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37852,20:00:00,276.85,270,75.0,Snow,snow,0,0,0.0,0.0,38.660
34216056,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37853,21:00:00,276.77,280,75.0,Snow,light,13d,0,0.0,0.0,38.516
34216057,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37854,21:00:00,276.77,280,75.0,Mist,mist,0,0,0.0,0.0,38.516
34216058,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37855,22:00:00,275.00,310,90.0,Snow,light,13n,0,0.0,0.0,35.330
34216059,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37856,22:00:00,275.00,310,90.0,Mist,mist,0,0,0.0,0.0,35.330
34216060,1319173,ZEREGA AV,2016-12-30,20:00:00,9.990000e+02,Friday,37857,23:00:00,274.36,280,90.0,Snow,light,13n,0,0.0,0.0,34.178

# Cleaning the final dataframe

In [85]:
df_ML_data2['clouds_all'].fillna(0, inplace=True)
df_ML_data2['snow_today'].fillna(0, inplace=True)
df_ML_data2['weather_description'].fillna(0, inplace=True)

In [77]:
df_ML_data2 = df_ML_data2.drop('Unnamed: 0_x', axis=1)

In [78]:
df_ML_data2 = df_ML_data2.drop('Unnamed: 0_y', axis=1)

In [86]:
df_ML_data2.head(100)

,Station,Date,Time,Total_Traffic_Passengers,day_of_week,city_id,temp,humidity,wind_speed,rain_1h,rain_3h,rain_today,snow_today,clouds_all,weather_description,real_temp
0,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,1:00:00,274.84,270,1.0,Clear,sky,clear,0,0.0,0.0,35.042
1,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,3:00:00,274.46,250,1.0,Clear,sky,clear,0,0.0,0.0,34.358
2,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
3,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
4,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
5,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
6,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
7,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
8,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
9,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
10,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
11,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
12,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
13,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,17:00:00,276.24,270,75.0,Clouds,broken,04d,0,0.0,0.0,37.562
14,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,19:00:00,277.15,270,75.0,Clouds,broken,04d,0,0.0,0.0,39.200
15,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,20:00:00,277.09,250,40.0,Clouds,scattered,03d,0,0.0,0.0,39.092
16,1 AV,2016-01-02,03:00:00,1.300152e+11,Saturday,22:00:00,276.27,290,75.0,Clouds,broken,04n,0,0.0,0.0,37.616
17,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,1:00:00,274.84,270,1.0,Clear,sky,clear,0,0.0,0.0,35.042
18,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,3:00:00,274.46,250,1.0,Clear,sky,clear,0,0.0,0.0,34.358
19,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
20,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
21,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
22,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
23,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
24,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
25,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
26,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
27,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
28,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
29,1 AV,2016-01-02,07:00:00,8.440000e+02,Saturday,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
71,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
72,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
73,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
74,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
75,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
76,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
77,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
78,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
79,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
80,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
81,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,17:00:00,276.24,270,75.0,Clouds,broken,04d,0,0.0,0.0,37.562
82,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,19:00:00,277.15,270,75.0,Clouds,broken,04d,0,0.0,0.0,39.200
83,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,20:00:00,277.09,250,40.0,Clouds,scattered,03d,0,0.0,0.0,39.092
84,1 AV,2016-01-02,19:00:00,1.024200e+04,Saturday,22:00:00,276.27,290,75.0,Clouds,broken,04n,0,0.0,0.0,37.616
85,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,1:00:00,274.84,270,1.0,Clear,sky,clear,0,0.0,0.0,35.042
86,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,3:00:00,274.46,250,1.0,Clear,sky,clear,0,0.0,0.0,34.358
87,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,5:00:00,273.98,240,20.0,Clouds,few,02n,0,0.0,0.0,33.494
88,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,6:00:00,273.74,240,75.0,Clouds,broken,04n,0,0.0,0.0,33.062
89,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,8:00:00,273.63,250,75.0,Clouds,broken,04n,0,0.0,0.0,32.864
90,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,9:00:00,273.57,260,90.0,Clouds,overcast,04n,0,0.0,0.0,32.756
91,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,10:00:00,273.13,280,40.0,Clouds,scattered,03n,0,0.0,0.0,31.964
92,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,11:00:00,272.89,260,20.0,Clouds,few,02n,0,0.0,0.0,31.532
93,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,12:00:00,272.82,270,75.0,Clouds,broken,04n,0,0.0,0.0,31.406
94,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,13:00:00,273.28,240,75.0,Clouds,broken,04d,0,0.0,0.0,32.234
95,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,14:00:00,274.20,230,75.0,Clouds,broken,04d,0,0.0,0.0,33.890
96,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,15:00:00,274.62,240,75.0,Clouds,broken,04d,0,0.0,0.0,34.646
97,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,16:00:00,275.80,240,75.0,Clouds,broken,04d,0,0.0,0.0,36.770
98,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,17:00:00,276.24,270,75.0,Clouds,broken,04d,0,0.0,0.0,37.562
99,1 AV,2016-01-02,23:00:00,9.123000e+03,Saturday,19:00:00,277.15,270,75.0,Clouds,broken,04d,0,0.0,0.0,39.200

In [ ]:
df_ML_data2['Date'] = pd.to_datetime(df_ML_data2['Date'])

In [ ]:
df_ML_data2.dtypes

# Identifying Holidays as a feature for ML analysis

In [88]:
#import datetime as dt

#from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday, \
#    USMartinLutherKingJr, USPresidentsDay, GoodFriday, USMemorialDay, \
#    USLaborDay, USThanksgivingDay


#class USTradingCalendar(AbstractHolidayCalendar):
#    rules = [
#        Holiday('NewYearsDay', month=1, day=1, observance=nearest_workday),
#        USMartinLutherKingJr,
#        USPresidentsDay,
#        GoodFriday,
#        USMemorialDay,
#        Holiday('USIndependenceDay', month=7, day=4, observance=nearest_workday),
#        USLaborDay,
#        USThanksgivingDay,
#        Holiday('Christmas', month=12, day=25, observance=nearest_workday)
#    ]


#def get_trading_close_holidays(year):
#    inst = USTradingCalendar()

#    return inst.holidays(dt.datetime(year-1, 12, 31), dt.datetime(year, 12, 31))


#if __name__ == '__main__':
#    print(get_trading_close_holidays(2016))


import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2016-01-01', end='2016-12-31')
# df = pd.DataFrame()
# df_ML_data2['Date'] = dr

cal = calendar()
holidays = cal.holidays(start=df_ML_data2['Date'].min(), end=df_ML_data2['Date'].max())

df_ML_data2['Holiday'] = df_ML_data2['Date'].isin(holidays)
df_ML_data2

DatetimeIndex(['2016-01-01', '2016-01-18', '2016-02-15', '2016-03-25',
               '2016-05-30', '2016-07-04', '2016-09-05', '2016-11-24',
               '2016-12-26'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
df_ML_data3 = df_ML_data2.loc[df_ML_data2["Date"]== '2016-01-18']
df_ML_data3

In [92]:
df_ML_data2['Holiday_binary'] = np.where((df_ML_data2['Holiday'] == True), "1", "0")
df_ML_data2

['2016-01-01',
 '2016-01-18',
 '2016-02-15',
 '2016-03-25',
 '2016-05-30',
 '2016-07-04',
 '2016-09-05',
 '2016-11-24',
 '2016-12-26']

# Multivariate Regression

In [87]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

X = df_ML_data2[['real_temp','humidity','snow_today']]
y = df_ML_data2['Total_Traffic_Passengers']

X[['real_temp','humidity','snow_today']] = scale.fit_transform(X[['real_temp','humidity','snow_today']].as_matrix())
# y['Total_Traffic_Passengers'] = scale.fit_transform(y['Total_Traffic_Passengers'])
   
print(X)
print(y)

est = sm.OLS(y, X).fit()

est.summary()

/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

          real_temp  humidity  snow_today
0         -1.199816  0.768526         0.0
1         -1.239751  0.586097         0.0
2         -1.290194  0.494883         0.0
3         -1.315416  0.494883         0.0
4         -1.326976  0.586097         0.0
5         -1.333282  0.677312         0.0
6         -1.379522  0.859741         0.0
7         -1.404744  0.677312         0.0
8         -1.412100  0.768526         0.0
9         -1.363758  0.494883         0.0
10        -1.267074  0.403668         0.0
11        -1.222936  0.494883         0.0
12        -1.098928  0.494883         0.0
13        -1.052688  0.768526         0.0
14        -0.957055  0.768526         0.0
15        -0.963361  0.586097         0.0
16        -1.049535  0.950955         0.0
17        -1.199816  0.768526         0.0
18        -1.239751  0.586097         0.0
19        -1.290194  0.494883         0.0
20        -1.315416  0.494883         0.0
21        -1.326976  0.586097         0.0
22        -1.333282  0.677312         0.0
23        -1.379522  0.859741         0.0
24        -1.404744  0.677312         0.0
25        -1.412100  0.768526         0.0
26        -1.363758  0.494883         0.0
27        -1.267074  0.403668         0.0
28        -1.222936  0.494883         0.0
29        -1.098928  0.494883         0.0
...             ...       ...         ...
34216031  -0.996990  0.859741         0.0
34216032  -1.183001  1.133384         0.0
34216033  -1.183001  1.133384         0.0
34216034  -1.250260  0.859741         0.0
34216035  -1.063197  0.950955         0.0
34216036  -1.092623  0.950955         0.0
34216037  -1.046383  0.768526         0.0
34216038  -1.114692  0.768526         0.0
34216039  -1.153576  0.768526         0.0
34216040  -1.127303  0.768526         0.0
34216041  -1.174594  0.768526         0.0
34216042  -1.212427  0.768526         0.0
34216043  -1.242903  0.859741         0.0
34216044  -1.329078  0.768526         0.0
34216045  -1.308060  0.768526         0.0
34216046  -1.272329  0.722919         0.0
34216047  -1.272329  0.586097         0.0
34216048  -1.289143  0.586097         0.0
34216049  -1.273380  0.677312         0.0
34216050  -1.144118  1.042169         0.0
34216051  -1.030619  1.042169         0.0
34216052  -0.982277  0.950955         0.0
34216053  -0.973870  0.950955         0.0
34216054  -0.989633  0.950955         0.0
34216055  -0.988583  0.768526         0.0
34216056  -0.996990  0.859741         0.0
34216057  -0.996990  0.859741         0.0
34216058  -1.183001  1.133384         0.0
34216059  -1.183001  1.133384         0.0
34216060  -1.250260  0.859741         0.0

[34216061 rows x 3 columns]
0           1.300152e+11
1           1.300152e+11
2           1.300152e+11
3           1.300152e+11
4           1.300152e+11
5           1.300152e+11
6           1.300152e+11
7           1.300152e+11
8           1.300152e+11
9           1.300152e+11
10          1.300152e+11
11          1.300152e+11
12          1.300152e+11
13          1.300152e+11
14          1.300152e+11
15          1.300152e+11
16          1.300152e+11
17          8.440000e+02
18          8.440000e+02
19          8.440000e+02
20          8.440000e+02
21          8.440000e+02
22          8.440000e+02
23          8.440000e+02
24          8.440000e+02
25          8.440000e+02
26          8.440000e+02
27          8.440000e+02
28          8.440000e+02
29          8.440000e+02
                ...
34216031    9.000000e+02
34216032    9.000000e+02
34216033    9.000000e+02
34216034    9.000000e+02
34216035    9.990000e+02
34216036    9.990000e+02
34216037    9.990000e+02
34216038    9.990000e+02
34216039    9.990000e+02
34216040    9.990000e+02
34216041    9.990000e+02
34216042    9.990000e+02
34216043    9.990000e+02
34216044    9.990000e+02
34216045    9.990000e+02
34216046    9.990000e+02
34216047    9.990000e+02
34216048    9.990000e+02
34216049    9.990000e+02
34216050    9.990000e+02
34216051    9.990000e+02
34216052    9.990000e+02
34216053    9.990000e+02
34216054    9.990000e+02
34216055    9.990000e+02
34216056    9.990000e+02
34216057    9.990000e+02
34216058    9.990000e+02
34216059    9.990000e+02
34216060    9.990000e+02
Name: Total_Traffic_Passengers, Length: 34216061, dtype: float64

/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/statsmodels/regression/linear_model.py:1471: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/statsmodels/base/model.py:1036: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/theodoresmiley/anaconda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
====================================================================================
Dep. Variable:     Total_Traffic_Passengers   R-squared:                       0.000
Model:                                  OLS   Adj. R-squared:                  0.000
Method:                       Least Squares   F-statistic:                     119.7
Date:                      Wed, 23 Jan 2019   Prob (F-statistic):           1.02e-52
Time:                              13:31:07   Log-Likelihood:            -8.1494e+08
No. Observations:                  34216061   AIC:                         1.630e+09
Df Residuals:                      34216059   BIC:                         1.630e+09
Df Model:                                 2
Covariance Type:                  nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
real_temp   3.311e+06   9.15e+05      3.618      0.000    1.52e+06     5.1e+06
humidity    1.395e+07   9.15e+05     15.250      0.000    1.22e+07    1.57e+07
snow_today          0          0        nan        nan           0           0
==============================================================================
Omnibus:                 72897167.324   Durbin-Watson:                   0.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1992839874051.369
Skew:                          18.044   Prob(JB):                         0.00
Kurtosis:                    1184.747   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

# Applying One-Hot Encoding

In [60]:
# import days of week and translate it to 0000000, ex. monday = 1000000 & tuesday= 0100000

In [99]:
X = df_ML_data2.iloc[:,:].values

In [100]:
Z = pd.DataFrame(X)

In [111]:
Z.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1 AV,2016-01-02,03:00:00,1.30015e+11,2,1:00:00,274.84,270,1,24,25,clear,0,0,0,35.042
1,1 AV,2016-01-02,03:00:00,1.30015e+11,2,3:00:00,274.46,250,1,24,25,clear,0,0,0,34.358
2,1 AV,2016-01-02,03:00:00,1.30015e+11,2,5:00:00,273.98,240,20,25,13,02n,0,0,0,33.494
3,1 AV,2016-01-02,03:00:00,1.30015e+11,2,6:00:00,273.74,240,75,25,11,04n,0,0,0,33.062
4,1 AV,2016-01-02,03:00:00,1.30015e+11,2,8:00:00,273.63,250,75,25,11,04n,0,0,0,32.864

In [103]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,4] = labelencoder_X.fit_transform(X[:,4])

In [106]:
X[:,9] = labelencoder_X.fit_transform(X[:,9])

In [109]:
X[:,10] = labelencoder_X.fit_transform(X[:,10])

In [112]:
onehotencoder = OneHotEncoder(categorical_features=[3])

In [113]:
X = onehotencoder.fit_transform(X).toarray()

ValueError: could not convert string to float: '13n'

In [115]:
X

array([['1 AV', '2016-01-02', '03:00:00', ..., 0.0, 0.0, 35.041999999999994],
       ['1 AV', '2016-01-02', '03:00:00', ..., 0.0, 0.0, 34.358000000000004],
       ['1 AV', '2016-01-02', '03:00:00', ..., 0.0, 0.0, 33.49400000000007],
       ...,
       ['ZEREGA AV', '2016-12-30', '20:00:00', ..., 0.0, 0.0,
        35.33000000000004],
       ['ZEREGA AV', '2016-12-30', '20:00:00', ..., 0.0, 0.0,
        35.33000000000004],
       ['ZEREGA AV', '2016-12-30', '20:00:00', ..., 0.0, 0.0,
        34.17800000000007]], dtype=object)

In [104]:
Z = pd.DataFrame(X)

In [ ]:
# Need help with setting up One_Hot_Encoding to complete preprocessing to setup my X training set.

weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday','Saturday','Sunday', 'day']
rain_1h =  ['Clear', 'Clouds', '..', '..','..', 'class']
rain_3h =  ['sky', 'few', 'broken', ,'..','..', 'class1']
rain_today =  ['clear', '02n', '04n', '..','..', 'condition']
weather_description = ['..', '..', '..', '..','Friday','Saturday','Sunday', 'describ']

In [ ]:
# Step 0: Reformat data (add weekdays)
data = df.values
X = data[:, 0:6]
y = data[:, 4]

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)
encoded_y

In [ ]:
# Step 2: One-hot encoding
one_hot_y = to_categorical(encoded_y)
one_hot_y

# Kmeans

In [ ]:
# Plot the data
plt.scatter(data[:, 0], data[:, 1])

In [ ]:
# Use n_clusters=4 as the k value
# We can see from the plot above that there are 4 clusters
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4)

In [ ]:
# Fit the model to the data
kmeans.fit(data)

In [ ]:
# Predict the clusters
predicted_clusters = kmeans.predict(data)

In [ ]:
# Plot the predicted clusters to see if the model predicted the correct clusters
# This is visual validation that the model was trained correctly.
plt.scatter(data[:, 0], data[:, 1], c=predicted_clusters, s=50, cmap='viridis')

# Create a Deep Learning Model

In [ ]:
voice = pd.read_csv('../Resources/voice.csv')

X = voice.drop("label", axis=1)
y = voice["label"]
print(X.shape, y.shape)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Normal Neural Network

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [ ]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from keras.utils import to_categorical

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [ ]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=2))
model.add(Dense(units=2, activation='softmax'))

In [ ]:
model.summary()

In [ ]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

# Deep Learning
For this network, we simply add an additional hidden layer of 6 nodes

In [ ]:
deep_model = Sequential()
deep_model.add(Dense(units=6, activation='relu', input_dim=2))
deep_model.add(Dense(units=6, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [ ]:
deep_model.summary()

In [ ]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

# Compare the models below

In [ ]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")