# Merging Turnstile Files to GeoLocation, Zip Codes, and Census

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import pyspark.sql.functions as func
import datetime as dt
import time
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import seaborn as sns
import pickle 
import gzip
import os

In [2]:
# df_turnstile_data= pd.read_csv("Resources/Turnstile_data/Turnstile_Usage_Data__2016.csv", low_memory=False)
# df_turnstile_data.head()

In [3]:
df_turnstile = pd.read_csv("total_passengers_2016.csv", low_memory=False)
df_turnstile

,Unnamed: 0,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Entries_shifted,Exits_shifted,Diff_Entries,Diff_Exits,Diff_Entries_Adjusted,Diff_Exits_Adjusted,Total_Traffic_Passengers
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,5991003.0,2028335.0,452.0,33.0,452.0,33.0,485.0
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,5989931.0,2028277.0,1072.0,58.0,1072.0,58.0,1130.0
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,5989153.0,2028014.0,778.0,263.0,778.0,263.0,1041.0
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,5989126.0,2027972.0,27.0,42.0,27.0,42.0,69.0
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,5989038.0,2027965.0,88.0,7.0,88.0,7.0,95.0
5,5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,23:00:00,REGULAR,5989038,2027965,5988591.0,2027932.0,447.0,33.0,447.0,33.0,480.0
6,6,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,19:00:00,REGULAR,5988591,2027932,5987660.0,2027866.0,931.0,66.0,931.0,66.0,997.0
7,7,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,15:00:00,REGULAR,5987660,2027866,5987299.0,2027772.0,361.0,94.0,361.0,94.0,455.0
8,8,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,11:00:00,REGULAR,5987299,2027772,5987115.0,2027534.0,184.0,238.0,184.0,238.0,422.0
9,9,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,07:00:00,REGULAR,5987115,2027534,5987098.0,2027490.0,17.0,44.0,17.0,44.0,61.0
10,10,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2016,03:00:00,REGULAR,5987098,2027490,5987017.0,2027479.0,81.0,11.0,81.0,11.0,92.0
11,11,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,23:00:00,REGULAR,5987017,2027479,5986497.0,2027442.0,520.0,37.0,520.0,37.0,557.0
12,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,19:00:00,REGULAR,5986497,2027442,5985358.0,2027344.0,1139.0,98.0,1139.0,98.0,1237.0
13,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,15:00:00,REGULAR,5985358,2027344,5984922.0,2027243.0,436.0,101.0,436.0,101.0,537.0
14,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,11:00:00,REGULAR,5984922,2027243,5984698.0,2027005.0,224.0,238.0,224.0,238.0,462.0
15,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,07:00:00,REGULAR,5984698,2027005,5984684.0,2026977.0,14.0,28.0,14.0,28.0,42.0
16,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,03:00:00,REGULAR,5984684,2026977,5984628.0,2026969.0,56.0,8.0,56.0,8.0,64.0
17,17,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,23:00:00,REGULAR,5984628,2026969,5984297.0,2026935.0,331.0,34.0,331.0,34.0,365.0
18,18,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,19:00:00,REGULAR,5984297,2026935,5983500.0,2026859.0,797.0,76.0,797.0,76.0,873.0
19,19,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,15:00:00,REGULAR,5983500,2026859,5983239.0,2026759.0,261.0,100.0,261.0,100.0,361.0
20,20,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,11:00:00,REGULAR,5983239,2026759,5983124.0,2026490.0,115.0,269.0,115.0,269.0,384.0
21,21,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,07:00:00,REGULAR,5983124,2026490,5983110.0,2026450.0,14.0,40.0,14.0,40.0,54.0
22,22,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,03:00:00,REGULAR,5983110,2026450,5983073.0,2026448.0,37.0,2.0,37.0,2.0,39.0
23,23,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,23:00:00,REGULAR,5983073,2026448,5982840.0,2026426.0,233.0,22.0,233.0,22.0,255.0
24,24,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,19:00:00,REGULAR,5982840,2026426,5982424.0,2026352.0,416.0,74.0,416.0,74.0,490.0
25,25,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,15:00:00,REGULAR,5982424,2026352,5982184.0,2026275.0,240.0,77.0,240.0,77.0,317.0
26,26,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,11:00:00,REGULAR,5982184,2026275,5982080.0,2026155.0,104.0,120.0,104.0,120.0,224.0
27,27,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,07:00:00,REGULAR,5982080,2026155,5982069.0,2026141.0,11.0,14.0,11.0,14.0,25.0
28,28,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,03:00:00,REGULAR,5982069,2026141,5982031.0,2026128.0,38.0,13.0,38.0,13.0,51.0
29,29,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,23:00:00,REGULAR,5982031,2026128,5981945.0,2026113.0,86.0,15.0,86.0,15.0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492640,9492640,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,20:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492641,9492641,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,16:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492642,9492642,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,12:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492643,9492643,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,08:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492644,9492644,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,04:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492645,9492645,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/06/2016,00:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492646,9492646,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,20:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492647,9492647,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,16:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492648,9492648,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,12:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492649,9492649,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,08:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492650,9492650,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,04:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492651,9492651,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/05/2016,00:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492652,9492652,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,20:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492653,9492653,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,16:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492654,9492654,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,12:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492655,9492655,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,08:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492656,9492656,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,04:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492657,9492657,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2016,00:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492658,9492658,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,20:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492659,9492659,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,16:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492660,9492660,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,12:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492661,9492661,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,08:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492662,9492662,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,04:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492663,9492663,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/03/2016,00:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492664,9492664,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,20:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492665,9492665,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,16:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492666,9492666,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,12:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492667,9492667,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,08:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492668,9492668,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,04:00:00,REGULAR,5554,230,5554.0,230.0,0.0,0.0,0.0,0.0,0.0
9492669,9492669,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2016,00:00:00,REGULAR,5554,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Total = df_turnstile['Total_Traffic_Passengers'].sum()
# Total

In [5]:
# df_ML = df_turnstile.groupby([ "Station", "Date", "Time"]).agg ({'Total_Traffic_Passengers':'sum'})
# df_ML = df_ML.reset_index()

In [6]:
# list(df_ML)

In [7]:
# df_ML = pd.DataFrame({'my_dates':['2015-01-01','2015-01-02','2015-01-03'],'myvals':[1,2,3]})
# df_ML['Date'] = pd.to_datetime(df_ML['Date'])

In [8]:
# df_ML['day_of_week'] = df_ML['Date'].dt.day_name()
# df_ML.head()

In [9]:
#df_ML.to_csv("df_ML_weekdays.csv")

In [11]:
df_by_date = df_turnstile.groupby([ "Station", "Date"]).agg ({'Total_Traffic_Passengers':'sum'})
df_by_date.head()
# groupby_station_date = merged_turnstile_geo_zip_summary.groupby([ "Station", "Zip", "Date"]).agg ({'Total_Traffic_Passengers':'sum'})
# groupby_station_date

                    Total_Traffic_Passengers
Station Date
1 AV    01/02/2016              1.300152e+11
        01/03/2016              2.952900e+04
        01/04/2016              4.631900e+04
        01/05/2016              4.666600e+04
        01/06/2016              4.827700e+04

In [ ]:
#df_by_date.to_csv("df_by_date.csv")

In [13]:
df_turnstile.Station.unique()
df_turnstile.head()

,Unnamed: 0,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Entries_shifted,Exits_shifted,Diff_Entries,Diff_Exits,Diff_Entries_Adjusted,Diff_Exits_Adjusted,Total_Traffic_Passengers
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,5991003.0,2028335.0,452.0,33.0,452.0,33.0,485.0
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,5989931.0,2028277.0,1072.0,58.0,1072.0,58.0,1130.0
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,5989153.0,2028014.0,778.0,263.0,778.0,263.0,1041.0
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,5989126.0,2027972.0,27.0,42.0,27.0,42.0,69.0
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,5989038.0,2027965.0,88.0,7.0,88.0,7.0,95.0

In [15]:
df_turnstile["Station"].nunique()

376

In [17]:
df_turnstile["Station"] = df_turnstile["Station"].str.lower()

In [18]:
df_turnstile.dtypes

Unnamed: 0                    int64
C/A                          object
Unit                         object
SCP                          object
Station                      object
Line Name                    object
Division                     object
Date                         object
Time                         object
Description                  object
Entries                       int64
Exits                         int64
Entries_shifted             float64
Exits_shifted               float64
Diff_Entries                float64
Diff_Exits                  float64
Diff_Entries_Adjusted       float64
Diff_Exits_Adjusted         float64
Total_Traffic_Passengers    float64
dtype: object

In [19]:
df_turnstile.Station.unique()

array(['59 st', '5 av/59 st', '57 st-7 av', '49 st', 'times sq-42 st',
       '34 st-herald sq', '28 st', '23 st', '14 st-union sq', '8 st-nyu',
       'prince st', 'canal st', 'city hall', 'cortlandt st', 'rector st',
       'whitehall s-fry', 'delancey/essex', 'bowery', 'chambers st',
       'fulton st', 'broad st', '7 av', 'park place', 'botanic garden',
       'prospect park', 'parkside av', 'church av', 'beverley road',
       'cortelyou rd', 'newkirk plaza', 'avenue h', 'avenue j',
       'avenue m', 'kings hwy', 'avenue u', 'neck rd', 'sheepshead bay',
       'brighton beach', 'ocean pkwy', 'borough hall', 'jay st-metrotec',
       'dekalb av', 'atl av-barclay', 'union st', '4av-9 st',
       'prospect av', '25 st', '36 st', '45 st', '53 st', 'bay ridge av',
       '77 st', '86 st', 'bay ridge-95 st', '8 av', 'ft hamilton pky',
       'new utrecht av', '18 av', '20 av', 'bay pkwy', '9 av', '50 st',
       '55 st', '71 st', '79 st', '25 av', 'bay 50 st', 'coney is-stillw',
       'w 8 st-aquarium', '6 av', '3 av', '1 av', 'bedford av',
       'lorimer st', 'graham av', 'grand st', 'montrose av', 'morgan av',
       'jefferson st', 'myrtle-wyckoff', 'halsey st', 'wilson av',
       'bushwick av', 'atlantic av', 'sutter av', 'livonia av',
       'new lots', 'east 105 st', 'canarsie-rockaw', 'marcy av',
       'hewes st', 'flushing av', 'myrtle av', 'kosciuszko st',
       'gates av', 'chauncey st', 'alabama av', 'van siclen av',
       'cleveland st', 'norwood av', 'crescent st', 'cypress hills',
       '75 st-elderts', '85 st-forest pk', 'woodhaven blvd', '104 st',
       '111 st', '121 st', 'howard bch jfk', 'jfk jamaica ct1',
       'sutphin-archer', 'central av', 'knickerbocker', 'seneca ave',
       'forest ave', 'fresh pond rd', 'metropolitan av', 'inwood-207 st',
       'dyckman st', '190 st', '181 st', '175 st', '168 st',
       '163 st-amsterdm', '155 st', '145 st', '135 st', '125 st',
       '116 st', 'cathedral pkwy', '103 st', '96 st', '81 st-museum',
       '72 st', '59 st columbus', '42 st-port auth', '34 st-penn sta',
       '14 st', 'w 4 st-wash sq', 'spring st', 'world trade ctr',
       'high st', 'hoyt-scher', 'lafayette av', 'clinton-wash av',
       'franklin av', 'nostrand av', 'kingston-throop', 'utica av',
       'ralph av', 'rockaway av', 'broadway jct', 'liberty av',
       'van siclen ave', 'shepherd av', 'euclid av', 'grant av', '80 st',
       '88 st', 'rockaway blvd', 'ozone pk leffrt', 'aqueduct n.cond',
       'aqueduct racetr', 'broad channel', 'beach 90 st', 'beach 98 st',
       'beach 105 st', 'rockaway park b', 'beach 67 st', 'beach 60 st',
       'beach 44 st', 'beach 36 st', 'beach 25 st', 'far rockaway',
       '161/yankee stad', '167 st', '170 st', '174-175 sts', 'tremont av',
       '182-183 sts', 'fordham rd', 'kingsbridge rd', 'bedford pk blvd',
       'norwood 205 st', '5 av/53 st', 'lexington av/53',
       'court sq-23 st', 'queens plaza', 'steinway st', '46 st',
       'northern blvd', '65 st', 'jksn ht-roosvlt', 'elmhurst av',
       'grand-newtown', '63 dr-rego park', '67 av', 'forest hills 71',
       '75 av', 'kew gardens', 'briarwood', 'sutphin blvd',
       'parsons blvd', '169 st', 'jamaica 179 st', 'court sq', '21 st',
       'greenpoint av', 'nassau st', 'broadway', 'myrtle-willough',
       'bedford-nostran', 'classon av', '47-50 sts rock',
       '42 st-bryant pk', "b'way-lafayette", '2 av', 'east broadway',
       'york st', 'bergen st', 'carroll st', 'smith-9 st', '4 av-9 st',
       '15 st-prospect', 'ditmas av', 'avenue i', 'avenue n', 'avenue p',
       'avenue x', 'neptune av', '57 st', 'lexington av/63',
       'roosevelt islnd', '21 st-qnsbridge', 'jamaica van wk',
       'jamaica center', 'orchard beach', 'newark hw bmebe', 'harrison',
       'journal square', 'grove street', 'exchange place',
       'pavonia/newport', 'city / bus', 'path wtc', 'christopher st',
       '9th street', '14th street', 'twenty third st', 'thirty st',
       'lackawanna', 'thirty third st', 'newark bm bw', 'newark c',
       'newark hm he', 'path wtc 2', 'path new wtc', 'south ferry',
       'wall st', 'franklin st', 'houston st', '18 st', '66 st-lincoln',
       '116 st-columbia', '137 st city col', '157 st', '191 st', '207 st',
       '215 st', 'marble hill-225', '231 st', '238 st', 'v.cortlandt pk',
       'bowling green', 'brooklyn bridge', 'bleecker st', 'astor pl',
       '33 st', 'grd cntrl-42 st', '51 st', '68st-hunter co', '110 st',
       '138/grand conc', '149/grand conc', 'mt eden av', '176 st',
       'burnside av', '183 st', 'mosholu pkwy', 'woodlawn',
       'central pk n110', 'harlem 148 st', '3 av-149 st', 'jackson av',
       'intervale av', 'simpson st', 'freeman st', '174 st',
       'west farms sq', 'e 180 st', 'bronx park east', 'pelham pkwy',
       'allerton av', 'burke av', 'gun hill rd', '219 st', '225 st',
       '233 st', 'nereid av', 'wakefield/241', '3 av 138 st', 'brook av',
       'cypress av', "e 143/st mary's", 'e 149 st', 'longwood av',
       'hunts point av', 'whitlock av', 'elder av', 'morisn av/sndvw',
       'st lawrence av', 'parkchester', 'castle hill av', 'zerega av',
       'westchester sq', 'middletown rd', 'buhre av', 'pelham bay park',
       '5 ave', 'vernon-jackson', 'hunters pt av', 'queensboro plz',
       '39 av', '36 av', '30 av', 'astoria blvd', 'astoria ditmars',
       '33 st-rawson st', '40 st lowery st', '46 st bliss st', '52 st',
       '61 st woodside', '69 st', '74 st-broadway', '82 st-jackson h',
       '90 st-elmhurst', 'junction blvd', '103 st-corona',
       'mets-willets pt', 'flushing-main', '34 st-hudson yd', 'clark st',
       'hoyt st', 'nevins st', 'grand army plaz', 'eastn pkwy-musm',
       'kingston av', 'crown hts-utica', 'sutter av-rutld', 'saratoga av',
       'junius st', 'pennsylvania av', 'new lots av', 'president st',
       'sterling st', 'winthrop st', 'beverly rd', 'newkirk av',
       'flatbush av-b.c', 'morris park', 'baychester av',
       'eastchster/dyre', 'st. george', 'tompkinsville', 'rit-manhattan',
       'rit-roosevelt'], dtype=object)

In [20]:
df_geolocation = pd.read_csv("Resources/stops.csv", low_memory=False)
df_geolocation

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
5,103S,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
6,104,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,1,NaN
7,104N,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104
8,104S,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104
9,106,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,1,NaN
10,106N,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,0,106
11,106S,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,0,106
12,107,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,1,NaN
13,107N,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,0,107
14,107S,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,0,107
15,108,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,1,NaN
16,108N,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,0,108
17,108S,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,0,108
18,109,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,1,NaN
19,109N,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,0,109
20,109S,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,0,109
21,110,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,1,NaN
22,110N,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,0,110
23,110S,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,0,110
24,111,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,1,NaN
25,111N,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,0,111
26,111S,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,0,111
27,112,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,1,NaN
28,112N,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,0,112
29,112S,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,0,112
...,...,...,...,...,...,...,...,...,...,...
1473,S22,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,1,NaN
1474,S22N,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,0,S22
1475,S22S,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,0,S22
1476,S23,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,1,NaN
1477,S23N,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,0,S23
1478,S23S,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,0,S23
1479,S24,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,1,NaN
1480,S24N,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,0,S24
1481,S24S,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,0,S24
1482,S25,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,1,NaN
1483,S25N,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,0,S25
1484,S25S,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,0,S25
1485,S26,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,1,NaN
1486,S26N,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,0,S26
1487,S26S,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,0,S26
1488,S27,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,1,NaN
1489,S27N,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,0,S27
1490,S27S,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,0,S27
1491,S28,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,1,NaN
1492,S28N,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,0,S28
1493,S28S,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,0,S28
1494,S29,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,1,NaN
1495,S29N,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,0,S29
1496,S29S,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,0,S29
1497,S30,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,1,NaN
1498,S30N,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,0,S30
1499,S30S,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,0,S30
1500,S31,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,1,NaN
1501,S31N,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,0,S31
1502,S31S,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,0,S31

In [21]:
list(df_geolocation)

['stop_id',
 'stop_code',
 'stop_name',
 'stop_desc',
 'stop_lat',
 'stop_lon',
 'zone_id',
 'stop_url',
 'location_type',
 'parent_station']

In [22]:
df_geolocation["stop_name"].nunique()

380

In [23]:
df_geolocation = df_geolocation.drop_duplicates("stop_name")

In [24]:
new_df_geolocation = df_geolocation[['stop_name', 'stop_lat', 'stop_lon']]

In [25]:
new_df_geolocation["stop_name"] = new_df_geolocation["stop_name"].str.lower()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
#Renaming columns Station Name to Station
new_df_geolocation.rename(columns = {'stop_name': 'Station','stop_lat': 'Station_lat', 'stop_lon': 'Station_lon'}, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [27]:
new_df_geolocation.Station.unique()

array(['van cortlandt park - 242 st', '238 st', '231 st',
       'marble hill - 225 st', '215 st', '207 st', 'dyckman st', '191 st',
       '181 st', '168 st - washington hts', '157 st', '145 st',
       '137 st - city college', '125 st', '116 st - columbia university',
       'cathedral pkwy', '103 st', '96 st', '86 st', '79 st', '72 st',
       '66 st - lincoln center', '59 st - columbus circle', '50 st',
       'times sq - 42 st', '34 st - penn station', '28 st', '23 st',
       '18 st', '14 st', 'christopher st - sheridan sq', 'houston st',
       'canal st', 'franklin st', 'chambers st', 'cortlandt st',
       'rector st', 'south ferry loop', 'south ferry',
       'wakefield - 241 st', 'nereid av', '233 st', '225 st', '219 st',
       'gun hill rd', 'burke av', 'allerton av', 'pelham pkwy',
       'bronx park east', 'e 180 st', 'west farms sq - e tremont av',
       '174 st', 'freeman st', 'simpson st', 'intervale av',
       'prospect av', 'jackson av', '3 av - 149 st',
       '149 st - grand concourse', '135 st', '116 st',
       'central park north (110 st)', 'park pl', 'fulton st', 'wall st',
       'clark st', 'borough hall', 'hoyt st', 'nevins st',
       'atlantic av - barclays ctr', 'bergen st', 'grand army plaza',
       'eastern pkwy - brooklyn museum', 'franklin av', 'president st',
       'sterling st', 'winthrop st', 'church av', 'beverly rd',
       'newkirk av', 'flatbush av - brooklyn college', 'nostrand av',
       'kingston av', 'crown hts - utica av', 'sutter av - rutland rd',
       'saratoga av', 'rockaway av', 'junius st', 'pennsylvania av',
       'van siclen av', 'new lots av', 'harlem - 148 st', 'woodlawn',
       'mosholu pkwy', 'bedford park blvd - lehman college',
       'kingsbridge rd', 'fordham rd', '183 st', 'burnside av', '176 st',
       'mt eden av', '170 st', '167 st', '161 st - yankee stadium',
       '138 st - grand concourse', 'bowling green',
       'eastchester - dyre av', 'baychester av', 'morris park',
       'pelham bay park', 'buhre av', 'middletown rd',
       'westchester sq - e tremont av', 'zerega av', 'castle hill av',
       'parkchester', 'st lawrence av', 'morrison av- sound view',
       'elder av', 'whitlock av', 'hunts point av', 'longwood av',
       'e 149 st', "e 143 st - st mary's st", 'cypress av', 'brook av',
       '3 av - 138 st', '110 st', '77 st', '68 st - hunter college',
       '59 st', '51 st', 'grand central - 42 st', '33 st',
       '14 st - union sq', 'astor pl', 'bleecker st', 'spring st',
       'brooklyn bridge - city hall', 'flushing - main st',
       'mets - willets point', '111 st', '103 st - corona plaza',
       'junction blvd', '90 st - elmhurst av', '82 st - jackson hts',
       '74 st - broadway', '69 st', 'woodside - 61 st', '52 st', '46 st',
       '40 st', 'queensboro plaza', 'court sq', 'hunters point av',
       'vernon blvd - jackson av', '5 av', '34 st - 11 av',
       'inwood - 207 st', '190 st', '175 st', '168 st',
       '163 st - amsterdam av', '155 st', 'cathedral pkwy (110 st)',
       '81 st - museum of natural history',
       '42 st - port authority bus terminal', 'w 4 st', 'high st',
       'jay st - metrotech', 'hoyt - schermerhorn sts', 'lafayette av',
       'clinton - washington avs', 'kingston - throop avs', 'utica av',
       'ralph av', 'broadway jct', 'liberty av', 'shepherd av',
       'euclid av', 'grant av', '80 st', '88 st', 'rockaway blvd',
       '104 st', 'ozone park - lefferts blvd', '21 st - queensbridge',
       'roosevelt island', 'lexington av/63 st', '57 st', '9 av',
       'fort hamilton pkwy', '55 st', '62 st', '71 st', '18 av', '20 av',
       'bay pkwy', '25 av', 'bay 50 st', 'norwood - 205 st',
       'bedford park blvd', '182-183 sts', 'tremont av', '174-175 sts',
       '7 av', '47-50 sts - rockefeller ctr', '42 st - bryant pk',
       '34 st - herald sq', 'broadway-lafayette st', 'grand st',
       'prospect park', 'parkside av', 'beverley rd', 'cortelyou rd',
       'newkirk plaza', 'avenue h', 'avenue j', 'avenue m', 'kings hwy',
       'avenue u', 'neck rd', 'sheepshead bay', 'brighton beach',
       'ocean pkwy', 'w 8 st - ny aquarium',
       'coney island - stillwell av', 'world trade center',
       'jamaica - 179 st', '169 st', 'parsons blvd', 'sutphin blvd',
       'briarwood - van wyck blvd', 'kew gardens - union tpke', '75 av',
       'lexington av/53 st', '5 av/53 st', '2 av', 'delancey st',
       'east broadway', 'york st', 'carroll st', 'smith - 9 sts', '4 av',
       '15 st - prospect park', 'ditmas av', 'avenue i', 'avenue n',
       'avenue p', 'avenue x', 'neptune av',
       'jamaica center - parsons/archer',
       'sutphin blvd - archer av - jfk airport', 'jamaica - van wyck',
       'forest hills - 71 av', '67 av', '63 dr - rego park',
       'woodhaven blvd', 'grand av - newtown', 'elmhurst av',
       'jackson hts - roosevelt av', '65 st', 'northern blvd',
       'steinway st', '36 st', 'queens plaza', '21 st', 'greenpoint av',
       'nassau av', 'metropolitan av', 'broadway', 'flushing av',
       'myrtle - willoughby avs', 'bedford - nostrand avs', 'classon av',
       'aqueduct racetrack', 'aqueduct - n conduit av',
       'howard beach - jfk airport', 'broad channel', 'beach 67 st',
       'beach 60 st', 'beach 44 st', 'beach 36 st', 'beach 25 st',
       'far rockaway - mott av', 'beach 90 st', 'beach 98 st',
       'beach 105 st', 'rockaway park - beach 116 st', '121 st',
       '85 st - forest pkwy', '75 st', 'cypress hills', 'crescent st',
       'norwood av', 'cleveland st', 'alabama av', 'chauncey st',
       'halsey st', 'gates av', 'kosciuszko st', '8 av', '6 av',
       'union sq - 14 st', '3 av', '1 av', 'bedford av', 'lorimer st',
       'graham av', 'montrose av', 'morgan av', 'jefferson st',
       'dekalb av', 'myrtle - wyckoff avs', 'wilson av',
       'bushwick av - aberdeen st', 'atlantic av', 'sutter av',
       'livonia av', 'e 105 st', 'canarsie - rockaway pkwy',
       'middle village - metropolitan av', 'fresh pond rd', 'forest av',
       'seneca av', 'knickerbocker av', 'central av', 'myrtle av',
       'hewes st', 'marcy av', 'essex st', 'bowery', 'broad st',
       'new utrecht av', 's.b. coney island', 'astoria - ditmars blvd',
       'astoria blvd', '30 av', '36 av', '39 av', 'lexington av/59 st',
       '5 av/59 st', '57 st - 7 av', '49 st', '8 st - nyu', 'prince st',
       'city hall', 'whitehall st', 'court st', 'union st', '9 st',
       '25 st', '45 st', '53 st', 'bay ridge av', 'bay ridge - 95 st',
       'botanic garden', 'tottenville', 'atlantic', 'arthur kill',
       'nassau', 'richmond valley', 'pleasant plains', "prince's bay",
       'huguenot', 'annadale', 'eltingville', 'great kills',
       'bay terrace', 'oakwood heights', 'new dorp', 'grant city',
       'jefferson av', 'dongan hills', 'old town', 'grasmere', 'clifton',
       'stapleton', 'tompkinsville', 'st george'], dtype=object)

In [28]:
merged_turnstile_geo = pd.merge(df_turnstile, new_df_geolocation, on='Station', how='inner')
merged_turnstile_geo.head()

,Unnamed: 0,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,...,Exits,Entries_shifted,Exits_shifted,Diff_Entries,Diff_Exits,Diff_Entries_Adjusted,Diff_Exits_Adjusted,Total_Traffic_Passengers,Station_lat,Station_lon
0,0,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,...,2028368,5991003.0,2028335.0,452.0,33.0,452.0,33.0,485.0,40.762526,-73.967967
1,1,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,...,2028335,5989931.0,2028277.0,1072.0,58.0,1072.0,58.0,1130.0,40.762526,-73.967967
2,2,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,...,2028277,5989153.0,2028014.0,778.0,263.0,778.0,263.0,1041.0,40.762526,-73.967967
3,3,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,...,2028014,5989126.0,2027972.0,27.0,42.0,27.0,42.0,69.0,40.762526,-73.967967
4,4,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,...,2027972,5989038.0,2027965.0,88.0,7.0,88.0,7.0,95.0,40.762526,-73.967967

In [29]:
merged_turnstile_geo["Station"].nunique()

239

# Reverse Geocoding to find Zip Codes of Subway stations

In [30]:
df_zicode= pd.read_csv("Resources/geo_to_zipcode.csv", low_memory=False)
df_zicode

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,...,Accuracy Score,Accuracy Type,Number,Street,City,State,County,Zip,Country,Source
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN,...,1.0,rooftop,193,W 237th St,Bronx,NY,Bronx County,10463,US,City of New York
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103,...,1.0,rooftop,193,W 237th St,Bronx,NY,Bronx County,10463,US,City of New York
5,103S,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103,...,1.0,rooftop,193,W 237th St,Bronx,NY,Bronx County,10463,US,City of New York
6,104,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,1,NaN,...,1.0,rooftop,5572,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
7,104N,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104,...,1.0,rooftop,5572,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
8,104S,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104,...,1.0,rooftop,5572,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
9,106,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,1,NaN,...,1.0,rooftop,5201,Broadway,Bronx,NY,New York County,10463,US,City of New York
10,106N,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,0,106,...,1.0,rooftop,5201,Broadway,Bronx,NY,New York County,10463,US,City of New York
11,106S,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,0,106,...,1.0,rooftop,5201,Broadway,Bronx,NY,New York County,10463,US,City of New York
12,107,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,1,NaN,...,1.0,rooftop,500,W 215th St,New York,NY,New York County,10034,US,City of New York
13,107N,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,0,107,...,1.0,rooftop,500,W 215th St,New York,NY,New York County,10034,US,City of New York
14,107S,NaN,215 St,NaN,40.869444,-73.915279,NaN,NaN,0,107,...,1.0,rooftop,500,W 215th St,New York,NY,New York County,10034,US,City of New York
15,108,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,1,NaN,...,1.0,rooftop,3876,10th Ave,New York,NY,New York County,10034,US,City of New York
16,108N,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,0,108,...,1.0,rooftop,3876,10th Ave,New York,NY,New York County,10034,US,City of New York
17,108S,NaN,207 St,NaN,40.864621,-73.918822,NaN,NaN,0,108,...,1.0,rooftop,3876,10th Ave,New York,NY,New York County,10034,US,City of New York
18,109,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,1,NaN,...,1.0,rooftop,152,Hillside Ave,New York,NY,New York County,10040,US,City of New York
19,109N,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,0,109,...,1.0,rooftop,152,Hillside Ave,New York,NY,New York County,10040,US,City of New York
20,109S,NaN,Dyckman St,NaN,40.860531,-73.925536,NaN,NaN,0,109,...,1.0,rooftop,152,Hillside Ave,New York,NY,New York County,10040,US,City of New York
21,110,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,1,NaN,...,1.0,rooftop,1609,St Nicholas Ave,New York,NY,New York County,10040,US,City of New York
22,110N,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,0,110,...,1.0,rooftop,1609,St Nicholas Ave,New York,NY,New York County,10040,US,City of New York
23,110S,NaN,191 St,NaN,40.855225,-73.929412,NaN,NaN,0,110,...,1.0,rooftop,1609,St Nicholas Ave,New York,NY,New York County,10040,US,City of New York
24,111,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,1,NaN,...,1.0,rooftop,1421,St Nicholas Ave,New York,NY,New York County,10033,US,City of New York
25,111N,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,0,111,...,1.0,rooftop,1421,St Nicholas Ave,New York,NY,New York County,10033,US,City of New York
26,111S,NaN,181 St,NaN,40.849505,-73.933596,NaN,NaN,0,111,...,1.0,rooftop,1421,St Nicholas Ave,New York,NY,New York County,10033,US,City of New York
27,112,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,1,NaN,...,1.0,rooftop,3981,Broadway,New York,NY,New York County,10032,US,City of New York
28,112N,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,0,112,...,1.0,rooftop,3981,Broadway,New York,NY,New York County,10032,US,City of New York
29,112S,NaN,168 St - Washington Hts,NaN,40.840556,-73.940133,NaN,NaN,0,112,...,1.0,rooftop,3981,Broadway,New York,NY,New York County,10032,US,City of New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,S22,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,1,NaN,...,1.0,rooftop,60,New Dorp Plz,Staten Island,NY,Richmond County,10306,US,City of New York
1474,S22N,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,0,S22,...,1.0,rooftop,60,New Dorp Plz,Staten Island,NY,Richmond County,10306,US,City of New York
1475,S22S,NaN,New Dorp,NaN,40.573480,-74.117210,NaN,NaN,0,S22,...,1.0,rooftop,60,New Dorp Plz,Staten Island,NY,Richmond County,10306,US,City of New York
1476,S23,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,1,NaN,...,1.0,rooftop,1149,N Railroad Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1477,S23N,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,0,S23,...,1.0,rooftop,1149,N Railroad Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1478,S23S,NaN,Grant City,NaN,40.578965,-74.109704,NaN,NaN,0,S23,...,1.0,rooftop,1149,N Railroad Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1479,S24,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,1,NaN,...,1.0,rooftop,103,Hull Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1480,S24N,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,0,S24,...,1.0,rooftop,103,Hull Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1481,S24S,NaN,Jefferson Av,NaN,40.583591,-74.103338,NaN,NaN,0,S24,...,1.0,rooftop,103,Hull Ave,Staten Island,NY,Richmond County,10306,US,City of New York
1482,S25,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,1,NaN,...,1.0,rooftop,643,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1483,S25N,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,0,S25,...,1.0,rooftop,643,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1484,S25S,NaN,Dongan Hills,NaN,40.588849,-74.096090,NaN,NaN,0,S25,...,1.0,rooftop,643,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1485,S26,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,1,NaN,...,1.0,rooftop,272,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1486,S26N,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,0,S26,...,1.0,rooftop,272,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1487,S26S,NaN,Old Town,NaN,40.596612,-74.087368,NaN,NaN,0,S26,...,1.0,rooftop,272,N Railroad Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1488,S27,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,1,NaN,...,1.0,rooftop,41,Grasmere Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1489,S27N,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,0,S27,...,1.0,rooftop,41,Grasmere Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1490,S27S,NaN,Grasmere,NaN,40.603117,-74.084087,NaN,NaN,0,S27,...,1.0,rooftop,41,Grasmere Ave,Staten Island,NY,Richmond County,10304,US,City of New York
1491,S28,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,1,NaN,...,1.0,rooftop,845,Bay St,Staten Island,NY,Richmond County,10304,US,City of New York
1492,S28N,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,0,S28,...,1.0,rooftop,845,Bay St,Staten Island,NY,Richmond County,10304,US,City of New York
1493,S28S,NaN,Clifton,NaN,40.621319,-74.071402,NaN,NaN,0,S28,...,1.0,rooftop,845,Bay St,Staten Island,NY,Richmond County,10304,US,City of New York
1494,S29,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,1,NaN,...,1.0,rooftop,2,Cross St,Staten Island,NY,Richmond County,10304,US,City of New York
1495,S29N,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,0,S29,...,1.0,rooftop,2,Cross St,Staten Island,NY,Richmond County,10304,US,City of New York
1496,S29S,NaN,Stapleton,NaN,40.627915,-74.075162,NaN,NaN,0,S29,...,1.0,rooftop,2,Cross St,Staten Island,NY,Richmond County,10304,US,City of New York
1497,S30,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,1,NaN,...,1.0,rooftop,35,Minthorne St,Staten Island,NY,Richmond County,10301,US,City of New York
1498,S30N,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,0,S30,...,1.0,rooftop,35,Minthorne St,Staten Island,NY,Richmond County,10301,US,City of New York
1499,S30S,NaN,Tompkinsville,NaN,40.636949,-74.074835,NaN,NaN,0,S30,...,1.0,rooftop,35,Minthorne St,Staten Island,NY,Richmond County,10301,US,City of New York
1500,S31,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,1,NaN,...,1.0,rooftop,1,Richmond Ter,Staten Island,NY,Richmond County,10301,US,City of New York
1501,S31N,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,0,S31,...,1.0,rooftop,1,Richmond Ter,Staten Island,NY,Richmond County,10301,US,City of New York
1502,S31S,NaN,St George,NaN,40.643748,-74.073643,NaN,NaN,0,S31,...,1.0,rooftop,1,Richmond Ter,Staten Island,NY,Richmond County,10301,US,City of New York

In [31]:
list(df_zicode)

['stop_id',
 'stop_code',
 'stop_name',
 'stop_desc',
 'stop_lat',
 'stop_lon',
 'zone_id',
 'stop_url',
 'location_type',
 'parent_station',
 'Latitude',
 'Longitude',
 'Accuracy Score',
 'Accuracy Type',
 'Number',
 'Street',
 'City',
 'State',
 'County',
 'Zip',
 'Country',
 'Source']

In [32]:
new_df_zicode = df_zicode[['stop_lat', 'stop_lon', 'City', 'Zip']]

In [33]:
new_df_zicode.rename(columns = {'stop_lat': 'Station_lat', 'stop_lon': 'Station_lon'}, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [34]:
#new_df_zicode.drop_duplicates(subset=None, keep='first', inplace=False)
new_df_zicode = new_df_zicode.drop_duplicates(["Zip"])

In [35]:
merged_turnstile_geo_zipcodes = pd.merge(merged_turnstile_geo, new_df_zicode, on=['Station_lat', 'Station_lon'], how='left')
merged_turnstile_geo_zipcodes.head()

,Unnamed: 0,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,...,Exits_shifted,Diff_Entries,Diff_Exits,Diff_Entries_Adjusted,Diff_Exits_Adjusted,Total_Traffic_Passengers,Station_lat,Station_lon,City,Zip
0,0,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,...,2028335.0,452.0,33.0,452.0,33.0,485.0,40.762526,-73.967967,New York,10022.0
1,1,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,...,2028277.0,1072.0,58.0,1072.0,58.0,1130.0,40.762526,-73.967967,New York,10022.0
2,2,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,...,2028014.0,778.0,263.0,778.0,263.0,1041.0,40.762526,-73.967967,New York,10022.0
3,3,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,...,2027972.0,27.0,42.0,27.0,42.0,69.0,40.762526,-73.967967,New York,10022.0
4,4,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,...,2027965.0,88.0,7.0,88.0,7.0,95.0,40.762526,-73.967967,New York,10022.0

In [36]:
merged_turnstile_geo_zipcodes = merged_turnstile_geo_zipcodes.drop('Unnamed: 0', axis=1)

In [37]:
# merged_ML1 = merged_turnstile_geo_zipcodes.loc[merged_turnstile_geo_zipcodes["Station"]== "south ferry"]
# merged_ML2 = merged_turnstile_geo_zipcodes.loc[merged_turnstile_geo_zipcodes["Station"]== "34 st - penn station"]
#print(df.loc[df['A'] == 'foo']
#df.loc[df['column_name'] == some_value]

In [ ]:
# merged_ML1

In [ ]:
# ///merged_ML1.to_csv("merged_ML1.csv")

In [ ]:
# merged_ML2

In [38]:
list(merged_turnstile_geo_zipcodes)

['C/A',
 'Unit',
 'SCP',
 'Station',
 'Line Name',
 'Division',
 'Date',
 'Time',
 'Description',
 'Entries',
 'Exits',
 'Entries_shifted',
 'Exits_shifted',
 'Diff_Entries',
 'Diff_Exits',
 'Diff_Entries_Adjusted',
 'Diff_Exits_Adjusted',
 'Total_Traffic_Passengers',
 'Station_lat',
 'Station_lon',
 'City',
 'Zip']

In [39]:
# merged_turnstile_geo_zipcodes.to_pickle("merged_turnstile_geo_zipcodes.pkl")

In [40]:
#merged_turnstile_geo_zipcodes.to_csv("merged_turnstile_geo_zipcodes.csv")

In [41]:
columns = ['C/A', 'Unit', 'Line Name', 'Division', 'Time', 'Description','Entries_shifted',
 'Exits_shifted',
 'Diff_Entries',
 'Diff_Exits',
 'Diff_Entries_Adjusted',
 'Diff_Exits_Adjusted',]
merged_turnstile_geo_zip_summary = merged_turnstile_geo_zipcodes.drop(columns, axis=1)

In [42]:
list(merged_turnstile_geo_zip_summary)

['SCP',
 'Station',
 'Date',
 'Entries',
 'Exits',
 'Total_Traffic_Passengers',
 'Station_lat',
 'Station_lon',
 'City',
 'Zip']

In [ ]:
# merged_turnstile_geo_zip_summary.to_pickle('merged_turn_geo_zip_summary.pkl')
#pickle_out = open("mturngeozip.pickle","wb")
#pickle.dump(merged_turnstile_geo_zipcodes, pickle_out)
#pickle_out.close()

In [ ]:
# merged_turnstile_geo_zip_summary.to_csv('merged_turn_geo_zip_summary.csv')

In [53]:
merged_turnstile_geo_zip_summary.head()

,SCP,Station,Date,Entries,Exits,Total_Traffic_Passengers,Station_lat,Station_lon,City,Zip
0,02-00-00,59 st,12/30/2016,5991455,2028368,485.0,40.762526,-73.967967,New York,10022.0
1,02-00-00,59 st,12/30/2016,5991003,2028335,1130.0,40.762526,-73.967967,New York,10022.0
2,02-00-00,59 st,12/30/2016,5989931,2028277,1041.0,40.762526,-73.967967,New York,10022.0
3,02-00-00,59 st,12/30/2016,5989153,2028014,69.0,40.762526,-73.967967,New York,10022.0
4,02-00-00,59 st,12/30/2016,5989126,2027972,95.0,40.762526,-73.967967,New York,10022.0

In [44]:
groupby_station_date = merged_turnstile_geo_zip_summary.groupby([ "Station", "Zip", "Date"]).agg ({'Total_Traffic_Passengers':'sum'})

#um_df = df.groupby(['year','month']).agg({'score': 'sum', 'num_attempts': 'sum'})

In [45]:
groupby_station_date = groupby_station_date.reset_index()

# Merging the census data with merged_turnstile_geo_zipcodes

In [46]:
df_census= pd.read_csv("Resources/clean_census_Output.csv", low_memory=False)

In [47]:
list(df_census)

['Unnamed: 0',
 'Year',
 'ZIPCODE',
 'Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']

In [48]:
df_census = df_census.drop('Unnamed: 0', 1)

In [49]:
# df_census['Median Age'] = pd.to_numeric(df_census['Median Age'], errors='coerce')
# df_census['Household Income'] = pd.to_numeric(df_census['Household Income'], errors='coerce')
# df_census['Per Capita Income'] = pd.to_numeric(df_census['Per Capita Income'], errors='coerce')
cols = ['Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']
df_census[cols] = df_census[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [50]:
# cols = ['Median Age','Household Income','Per Capita Income']
df_census[cols] = df_census[df_census[cols] > 0.0][cols]
new_df_census = df_census.dropna()

In [52]:
new_df_census.head()

,Year,ZIPCODE,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
0,2012,10001,8118354.0,20579.0,35.7,76138.0,74212.0,2672.0,12.984110,13654.0,6925.0
1,2012,10002,585960.0,80323.0,39.9,32265.0,25518.0,22136.0,27.558732,24852.0,55471.0
2,2012,10003,5244723.0,56614.0,32.2,91767.0,73196.0,6153.0,10.868336,43932.0,12682.0
3,2012,10004,9670296.0,2780.0,33.8,127281.0,127628.0,300.0,10.791367,2166.0,614.0
4,2012,10005,5947321.0,5724.0,28.4,120729.0,99403.0,590.0,10.307477,4238.0,1486.0

In [ ]:
#new_df_census.to_csv('cleaned_census_withou_negatives.csv')

In [54]:
list(new_df_census)

['Year',
 'ZIPCODE',
 'Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']

In [55]:
new_df_census.dtypes

Year                      int64
ZIPCODE                   int64
Total Annual Payroll    float64
Population              float64
Median Age              float64
Household Income        float64
Per Capita Income       float64
Poverty Count           float64
Poverty Rate            float64
Whites Alone            float64
Non Whites              float64
dtype: object

In [56]:
new_df_census = new_df_census.rename(columns = {'ZIPCODE': 'Zip'})

In [57]:
df_census_filtered = new_df_census[(new_df_census.Year == 2016)]

In [ ]:
#df_census_filtered = df_census_filtered.groupby ("Zip")
#df_census_filtered.set_index("Zip")

In [ ]:
#merged_turnstile_geo_zipcodes = merged_turnstile_geo_zipcodes.groupby("Zip")
#merged_turnstile_geo_zipcodes.set_index("Zip")

In [58]:
merged_turnstile_geo_zipcodes_census_2016= pd.merge(groupby_station_date, df_census_filtered, on='Zip', how='left')

In [ ]:
#merged_turnstile_geo_zipcodes_census_2016.to_pickle('turn_zip_census_2016.pkl')

In [ ]:
#merged_turnstile_geo_zipcodes_census_2016.to_csv('turn_zip_census_2016.csv')

In [59]:
final_comprehensive_2016= pd.merge(merged_turnstile_geo_zipcodes, df_census_filtered, on='Zip', how='left')

In [ ]:
# final_comprehensive_2016.to_pickle('final_comprehensive_2016.pkl')

In [60]:
final_comprehensive_2016.to_csv('final_comprehensive_2016.csv')

In [ ]:
# import sqlite3
# connex = sqlite3.connect("final_comprehensive_2016.sqlite")  # Opens file if exists, else creates file
# cur = connex.cursor()

In [ ]:
# final_comprehensive_2016.to_sql(name="final_comprehensive_2016", con=connex, if_exists="replace", index=False)

In [ ]:
# pd.read_sql('select * from final_comprehensive_2016', connex)