# Merging Turnstile Files to GeoLocation, Zip Codes, and Census

In [46]:
#Importing Libraries
import pandas as pd
import numpy as np
import pyspark.sql.functions as func
import datetime as dt
import re
import time
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df_turnstile= pd.read_csv("Resources/Turnstile_data/Turnstile_Usage_Data__2016.csv", low_memory=False)
df_turnstile.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972

In [48]:
df_turnstile.Station.unique()

array(['59 ST', '5 AV/59 ST', '57 ST-7 AV', '49 ST', 'TIMES SQ-42 ST',
       '34 ST-HERALD SQ', '28 ST', '23 ST', '14 ST-UNION SQ', '8 ST-NYU',
       'PRINCE ST', 'CANAL ST', 'CITY HALL', 'CORTLANDT ST', 'RECTOR ST',
       'WHITEHALL S-FRY', 'DELANCEY/ESSEX', 'BOWERY', 'CHAMBERS ST',
       'FULTON ST', 'BROAD ST', '7 AV', 'PARK PLACE', 'BOTANIC GARDEN',
       'PROSPECT PARK', 'PARKSIDE AV', 'CHURCH AV', 'BEVERLEY ROAD',
       'CORTELYOU RD', 'NEWKIRK PLAZA', 'AVENUE H', 'AVENUE J',
       'AVENUE M', 'KINGS HWY', 'AVENUE U', 'NECK RD', 'SHEEPSHEAD BAY',
       'BRIGHTON BEACH', 'OCEAN PKWY', 'BOROUGH HALL', 'JAY ST-METROTEC',
       'DEKALB AV', 'ATL AV-BARCLAY', 'UNION ST', '4AV-9 ST',
       'PROSPECT AV', '25 ST', '36 ST', '45 ST', '53 ST', 'BAY RIDGE AV',
       '77 ST', '86 ST', 'BAY RIDGE-95 ST', '8 AV', 'FT HAMILTON PKY',
       'NEW UTRECHT AV', '18 AV', '20 AV', 'BAY PKWY', '9 AV', '50 ST',
       '55 ST', '71 ST', '79 ST', '25 AV', 'BAY 50 ST', 'CONEY IS-STILLW',
       'W 8 ST-AQUARIUM', '6 AV', '3 AV', '1 AV', 'BEDFORD AV',
       'LORIMER ST', 'GRAHAM AV', 'GRAND ST', 'MONTROSE AV', 'MORGAN AV',
       'JEFFERSON ST', 'MYRTLE-WYCKOFF', 'HALSEY ST', 'WILSON AV',
       'BUSHWICK AV', 'ATLANTIC AV', 'SUTTER AV', 'LIVONIA AV',
       'NEW LOTS', 'EAST 105 ST', 'CANARSIE-ROCKAW', 'MARCY AV',
       'HEWES ST', 'FLUSHING AV', 'MYRTLE AV', 'KOSCIUSZKO ST',
       'GATES AV', 'CHAUNCEY ST', 'ALABAMA AV', 'VAN SICLEN AV',
       'CLEVELAND ST', 'NORWOOD AV', 'CRESCENT ST', 'CYPRESS HILLS',
       '75 ST-ELDERTS', '85 ST-FOREST PK', 'WOODHAVEN BLVD', '104 ST',
       '111 ST', '121 ST', 'HOWARD BCH JFK', 'JFK JAMAICA CT1',
       'SUTPHIN-ARCHER', 'CENTRAL AV', 'KNICKERBOCKER', 'SENECA AVE',
       'FOREST AVE', 'FRESH POND RD', 'METROPOLITAN AV', 'INWOOD-207 ST',
       'DYCKMAN ST', '190 ST', '181 ST', '175 ST', '168 ST',
       '163 ST-AMSTERDM', '155 ST', '145 ST', '135 ST', '125 ST',
       '116 ST', 'CATHEDRAL PKWY', '103 ST', '96 ST', '81 ST-MUSEUM',
       '72 ST', '59 ST COLUMBUS', '42 ST-PORT AUTH', '34 ST-PENN STA',
       '14 ST', 'W 4 ST-WASH SQ', 'SPRING ST', 'WORLD TRADE CTR',
       'HIGH ST', 'HOYT-SCHER', 'LAFAYETTE AV', 'CLINTON-WASH AV',
       'FRANKLIN AV', 'NOSTRAND AV', 'KINGSTON-THROOP', 'UTICA AV',
       'RALPH AV', 'ROCKAWAY AV', 'BROADWAY JCT', 'LIBERTY AV',
       'VAN SICLEN AVE', 'SHEPHERD AV', 'EUCLID AV', 'GRANT AV', '80 ST',
       '88 ST', 'ROCKAWAY BLVD', 'OZONE PK LEFFRT', 'AQUEDUCT N.COND',
       'AQUEDUCT RACETR', 'BROAD CHANNEL', 'BEACH 90 ST', 'BEACH 98 ST',
       'BEACH 105 ST', 'ROCKAWAY PARK B', 'BEACH 67 ST', 'BEACH 60 ST',
       'BEACH 44 ST', 'BEACH 36 ST', 'BEACH 25 ST', 'FAR ROCKAWAY',
       '161/YANKEE STAD', '167 ST', '170 ST', '174-175 STS', 'TREMONT AV',
       '182-183 STS', 'FORDHAM RD', 'KINGSBRIDGE RD', 'BEDFORD PK BLVD',
       'NORWOOD 205 ST', '5 AV/53 ST', 'LEXINGTON AV/53',
       'COURT SQ-23 ST', 'QUEENS PLAZA', 'STEINWAY ST', '46 ST',
       'NORTHERN BLVD', '65 ST', 'JKSN HT-ROOSVLT', 'ELMHURST AV',
       'GRAND-NEWTOWN', '63 DR-REGO PARK', '67 AV', 'FOREST HILLS 71',
       '75 AV', 'KEW GARDENS', 'BRIARWOOD', 'SUTPHIN BLVD',
       'PARSONS BLVD', '169 ST', 'JAMAICA 179 ST', 'COURT SQ', '21 ST',
       'GREENPOINT AV', 'NASSAU ST', 'BROADWAY', 'MYRTLE-WILLOUGH',
       'BEDFORD-NOSTRAN', 'CLASSON AV', '47-50 STS ROCK',
       '42 ST-BRYANT PK', "B'WAY-LAFAYETTE", '2 AV', 'EAST BROADWAY',
       'YORK ST', 'BERGEN ST', 'CARROLL ST', 'SMITH-9 ST', '4 AV-9 ST',
       '15 ST-PROSPECT', 'DITMAS AV', 'AVENUE I', 'AVENUE N', 'AVENUE P',
       'AVENUE X', 'NEPTUNE AV', '57 ST', 'LEXINGTON AV/63',
       'ROOSEVELT ISLND', '21 ST-QNSBRIDGE', 'JAMAICA VAN WK',
       'JAMAICA CENTER', 'ORCHARD BEACH', 'NEWARK HW BMEBE', 'HARRISON',
       'JOURNAL SQUARE', 'GROVE STREET', 'EXCHANGE PLACE',
       'PAVONIA/NEWPORT', 'CITY / BUS', 'PATH WTC', 'CHRISTOPHER ST',
       '9TH STREET', '14TH STREET', 'TWENTY THIRD ST', 'THIRTY ST',
       'LACKAWANNA', 'THIRTY THIRD ST', 'NEWARK BM BW', 'NEWARK C',
       'NEWARK HM HE', 'PATH WTC 2', 'PATH NEW WTC', 'SOUTH FERRY',
       'WALL ST', 'FRANKLIN ST', 'HOUSTON ST', '18 ST', '66 ST-LINCOLN',
       '116 ST-COLUMBIA', '137 ST CITY COL', '157 ST', '191 ST', '207 ST',
       '215 ST', 'MARBLE HILL-225', '231 ST', '238 ST', 'V.CORTLANDT PK',
       'BOWLING GREEN', 'BROOKLYN BRIDGE', 'BLEECKER ST', 'ASTOR PL',
       '33 ST', 'GRD CNTRL-42 ST', '51 ST', '68ST-HUNTER CO', '110 ST',
       '138/GRAND CONC', '149/GRAND CONC', 'MT EDEN AV', '176 ST',
       'BURNSIDE AV', '183 ST', 'MOSHOLU PKWY', 'WOODLAWN',
       'CENTRAL PK N110', 'HARLEM 148 ST', '3 AV-149 ST', 'JACKSON AV',
       'INTERVALE AV', 'SIMPSON ST', 'FREEMAN ST', '174 ST',
       'WEST FARMS SQ', 'E 180 ST', 'BRONX PARK EAST', 'PELHAM PKWY',
       'ALLERTON AV', 'BURKE AV', 'GUN HILL RD', '219 ST', '225 ST',
       '233 ST', 'NEREID AV', 'WAKEFIELD/241', '3 AV 138 ST', 'BROOK AV',
       'CYPRESS AV', "E 143/ST MARY'S", 'E 149 ST', 'LONGWOOD AV',
       'HUNTS POINT AV', 'WHITLOCK AV', 'ELDER AV', 'MORISN AV/SNDVW',
       'ST LAWRENCE AV', 'PARKCHESTER', 'CASTLE HILL AV', 'ZEREGA AV',
       'WESTCHESTER SQ', 'MIDDLETOWN RD', 'BUHRE AV', 'PELHAM BAY PARK',
       '5 AVE', 'VERNON-JACKSON', 'HUNTERS PT AV', 'QUEENSBORO PLZ',
       '39 AV', '36 AV', '30 AV', 'ASTORIA BLVD', 'ASTORIA DITMARS',
       '33 ST-RAWSON ST', '40 ST LOWERY ST', '46 ST BLISS ST', '52 ST',
       '61 ST WOODSIDE', '69 ST', '74 ST-BROADWAY', '82 ST-JACKSON H',
       '90 ST-ELMHURST', 'JUNCTION BLVD', '103 ST-CORONA',
       'METS-WILLETS PT', 'FLUSHING-MAIN', '34 ST-HUDSON YD', 'CLARK ST',
       'HOYT ST', 'NEVINS ST', 'GRAND ARMY PLAZ', 'EASTN PKWY-MUSM',
       'KINGSTON AV', 'CROWN HTS-UTICA', 'SUTTER AV-RUTLD', 'SARATOGA AV',
       'JUNIUS ST', 'PENNSYLVANIA AV', 'NEW LOTS AV', 'PRESIDENT ST',
       'STERLING ST', 'WINTHROP ST', 'BEVERLY RD', 'NEWKIRK AV',
       'FLATBUSH AV-B.C', 'MORRIS PARK', 'BAYCHESTER AV',
       'EASTCHSTER/DYRE', 'ST. GEORGE', 'TOMPKINSVILLE', 'RIT-MANHATTAN',
       'RIT-ROOSEVELT'], dtype=object)

In [49]:
df_turnstile["Station"].nunique()

376

In [50]:
df_turnstile["Station"] = df_turnstile["Station"].str.lower()
df_turnstile.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368
1,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335
2,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277
3,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014
4,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972

In [51]:
df_geolocation = pd.read_csv("Resources/stops.csv", low_memory=False)
df_geolocation.head(10)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
5,103S,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103
6,104,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,1,NaN
7,104N,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104
8,104S,NaN,231 St,NaN,40.878856,-73.904834,NaN,NaN,0,104
9,106,NaN,Marble Hill - 225 St,NaN,40.874561,-73.909831,NaN,NaN,1,NaN

In [52]:
list(df_geolocation)

['stop_id',
 'stop_code',
 'stop_name',
 'stop_desc',
 'stop_lat',
 'stop_lon',
 'zone_id',
 'stop_url',
 'location_type',
 'parent_station']

In [53]:
df_geolocation["stop_name"].nunique()

380

In [54]:
new_df_geolocation = df_geolocation[['stop_name', 'stop_lat', 'stop_lon']].copy()
new_df_geolocation.head()

                     stop_name   stop_lat   stop_lon
0  Van Cortlandt Park - 242 St  40.889248 -73.898583
1  Van Cortlandt Park - 242 St  40.889248 -73.898583
2  Van Cortlandt Park - 242 St  40.889248 -73.898583
3                       238 St  40.884667 -73.900870
4                       238 St  40.884667 -73.900870

In [55]:
new_df_geolocation["stop_name"] = new_df_geolocation["stop_name"].str.lower()
new_df_geolocation.head()

                     stop_name   stop_lat   stop_lon
0  van cortlandt park - 242 st  40.889248 -73.898583
1  van cortlandt park - 242 st  40.889248 -73.898583
2  van cortlandt park - 242 st  40.889248 -73.898583
3                       238 st  40.884667 -73.900870
4                       238 st  40.884667 -73.900870

In [56]:
#Renaming columns Station Name to Station
new_df_geolocation.rename(columns = {'stop_name': 'Station','stop_lat': 'Station_lat', 'stop_lon': 'Station_lon'}, inplace=True)
new_df_geolocation.head()

                       Station  Station_lat  Station_lon
0  van cortlandt park - 242 st    40.889248   -73.898583
1  van cortlandt park - 242 st    40.889248   -73.898583
2  van cortlandt park - 242 st    40.889248   -73.898583
3                       238 st    40.884667   -73.900870
4                       238 st    40.884667   -73.900870

In [57]:
new_df_geolocation.Station.unique()

array(['van cortlandt park - 242 st', '238 st', '231 st',
       'marble hill - 225 st', '215 st', '207 st', 'dyckman st', '191 st',
       '181 st', '168 st - washington hts', '157 st', '145 st',
       '137 st - city college', '125 st', '116 st - columbia university',
       'cathedral pkwy', '103 st', '96 st', '86 st', '79 st', '72 st',
       '66 st - lincoln center', '59 st - columbus circle', '50 st',
       'times sq - 42 st', '34 st - penn station', '28 st', '23 st',
       '18 st', '14 st', 'christopher st - sheridan sq', 'houston st',
       'canal st', 'franklin st', 'chambers st', 'cortlandt st',
       'rector st', 'south ferry loop', 'south ferry',
       'wakefield - 241 st', 'nereid av', '233 st', '225 st', '219 st',
       'gun hill rd', 'burke av', 'allerton av', 'pelham pkwy',
       'bronx park east', 'e 180 st', 'west farms sq - e tremont av',
       '174 st', 'freeman st', 'simpson st', 'intervale av',
       'prospect av', 'jackson av', '3 av - 149 st',
       '149 st - grand concourse', '135 st', '116 st',
       'central park north (110 st)', 'park pl', 'fulton st', 'wall st',
       'clark st', 'borough hall', 'hoyt st', 'nevins st',
       'atlantic av - barclays ctr', 'bergen st', 'grand army plaza',
       'eastern pkwy - brooklyn museum', 'franklin av', 'president st',
       'sterling st', 'winthrop st', 'church av', 'beverly rd',
       'newkirk av', 'flatbush av - brooklyn college', 'nostrand av',
       'kingston av', 'crown hts - utica av', 'sutter av - rutland rd',
       'saratoga av', 'rockaway av', 'junius st', 'pennsylvania av',
       'van siclen av', 'new lots av', 'harlem - 148 st', 'woodlawn',
       'mosholu pkwy', 'bedford park blvd - lehman college',
       'kingsbridge rd', 'fordham rd', '183 st', 'burnside av', '176 st',
       'mt eden av', '170 st', '167 st', '161 st - yankee stadium',
       '138 st - grand concourse', 'bowling green',
       'eastchester - dyre av', 'baychester av', 'morris park',
       'pelham bay park', 'buhre av', 'middletown rd',
       'westchester sq - e tremont av', 'zerega av', 'castle hill av',
       'parkchester', 'st lawrence av', 'morrison av- sound view',
       'elder av', 'whitlock av', 'hunts point av', 'longwood av',
       'e 149 st', "e 143 st - st mary's st", 'cypress av', 'brook av',
       '3 av - 138 st', '110 st', '77 st', '68 st - hunter college',
       '59 st', '51 st', 'grand central - 42 st', '33 st',
       '14 st - union sq', 'astor pl', 'bleecker st', 'spring st',
       'brooklyn bridge - city hall', 'flushing - main st',
       'mets - willets point', '111 st', '103 st - corona plaza',
       'junction blvd', '90 st - elmhurst av', '82 st - jackson hts',
       '74 st - broadway', '69 st', 'woodside - 61 st', '52 st', '46 st',
       '40 st', 'queensboro plaza', 'court sq', 'hunters point av',
       'vernon blvd - jackson av', '5 av', '34 st - 11 av',
       'inwood - 207 st', '190 st', '175 st', '168 st',
       '163 st - amsterdam av', '155 st', 'cathedral pkwy (110 st)',
       '81 st - museum of natural history',
       '42 st - port authority bus terminal', 'w 4 st', 'high st',
       'jay st - metrotech', 'hoyt - schermerhorn sts', 'lafayette av',
       'clinton - washington avs', 'kingston - throop avs', 'utica av',
       'ralph av', 'broadway jct', 'liberty av', 'shepherd av',
       'euclid av', 'grant av', '80 st', '88 st', 'rockaway blvd',
       '104 st', 'ozone park - lefferts blvd', '21 st - queensbridge',
       'roosevelt island', 'lexington av/63 st', '57 st', '9 av',
       'fort hamilton pkwy', '55 st', '62 st', '71 st', '18 av', '20 av',
       'bay pkwy', '25 av', 'bay 50 st', 'norwood - 205 st',
       'bedford park blvd', '182-183 sts', 'tremont av', '174-175 sts',
       '7 av', '47-50 sts - rockefeller ctr', '42 st - bryant pk',
       '34 st - herald sq', 'broadway-lafayette st', 'grand st',
       'prospect park', 'parkside av', 'beverley rd', 'cortelyou rd',
       'newkirk plaza', 'avenue h', 'avenue j', 'avenue m', 'kings hwy',
       'avenue u', 'neck rd', 'sheepshead bay', 'brighton beach',
       'ocean pkwy', 'w 8 st - ny aquarium',
       'coney island - stillwell av', 'world trade center',
       'jamaica - 179 st', '169 st', 'parsons blvd', 'sutphin blvd',
       'briarwood - van wyck blvd', 'kew gardens - union tpke', '75 av',
       'lexington av/53 st', '5 av/53 st', '2 av', 'delancey st',
       'east broadway', 'york st', 'carroll st', 'smith - 9 sts', '4 av',
       '15 st - prospect park', 'ditmas av', 'avenue i', 'avenue n',
       'avenue p', 'avenue x', 'neptune av',
       'jamaica center - parsons/archer',
       'sutphin blvd - archer av - jfk airport', 'jamaica - van wyck',
       'forest hills - 71 av', '67 av', '63 dr - rego park',
       'woodhaven blvd', 'grand av - newtown', 'elmhurst av',
       'jackson hts - roosevelt av', '65 st', 'northern blvd',
       'steinway st', '36 st', 'queens plaza', '21 st', 'greenpoint av',
       'nassau av', 'metropolitan av', 'broadway', 'flushing av',
       'myrtle - willoughby avs', 'bedford - nostrand avs', 'classon av',
       'aqueduct racetrack', 'aqueduct - n conduit av',
       'howard beach - jfk airport', 'broad channel', 'beach 67 st',
       'beach 60 st', 'beach 44 st', 'beach 36 st', 'beach 25 st',
       'far rockaway - mott av', 'beach 90 st', 'beach 98 st',
       'beach 105 st', 'rockaway park - beach 116 st', '121 st',
       '85 st - forest pkwy', '75 st', 'cypress hills', 'crescent st',
       'norwood av', 'cleveland st', 'alabama av', 'chauncey st',
       'halsey st', 'gates av', 'kosciuszko st', '8 av', '6 av',
       'union sq - 14 st', '3 av', '1 av', 'bedford av', 'lorimer st',
       'graham av', 'montrose av', 'morgan av', 'jefferson st',
       'dekalb av', 'myrtle - wyckoff avs', 'wilson av',
       'bushwick av - aberdeen st', 'atlantic av', 'sutter av',
       'livonia av', 'e 105 st', 'canarsie - rockaway pkwy',
       'middle village - metropolitan av', 'fresh pond rd', 'forest av',
       'seneca av', 'knickerbocker av', 'central av', 'myrtle av',
       'hewes st', 'marcy av', 'essex st', 'bowery', 'broad st',
       'new utrecht av', 's.b. coney island', 'astoria - ditmars blvd',
       'astoria blvd', '30 av', '36 av', '39 av', 'lexington av/59 st',
       '5 av/59 st', '57 st - 7 av', '49 st', '8 st - nyu', 'prince st',
       'city hall', 'whitehall st', 'court st', 'union st', '9 st',
       '25 st', '45 st', '53 st', 'bay ridge av', 'bay ridge - 95 st',
       'botanic garden', 'tottenville', 'atlantic', 'arthur kill',
       'nassau', 'richmond valley', 'pleasant plains', "prince's bay",
       'huguenot', 'annadale', 'eltingville', 'great kills',
       'bay terrace', 'oakwood heights', 'new dorp', 'grant city',
       'jefferson av', 'dongan hills', 'old town', 'grasmere', 'clifton',
       'stapleton', 'tompkinsville', 'st george'], dtype=object)

In [58]:
merged_turnstile_geo = pd.merge(df_turnstile, new_df_geolocation, on='Station', how='inner')
merged_turnstile_geo

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Station_lat,Station_lon
0,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967
1,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967
2,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967
3,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.641362,-74.017881
4,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.641362,-74.017881
5,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.641362,-74.017881
6,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967
7,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967
8,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967
9,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.641362,-74.017881
10,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.641362,-74.017881
11,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.641362,-74.017881
12,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967
13,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967
14,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967
15,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.641362,-74.017881
16,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.641362,-74.017881
17,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.641362,-74.017881
18,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967
19,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967
20,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967
21,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.641362,-74.017881
22,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.641362,-74.017881
23,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.641362,-74.017881
24,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.762526,-73.967967
25,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.762526,-73.967967
26,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.762526,-73.967967
27,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.641362,-74.017881
28,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.641362,-74.017881
29,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,03:00:00,REGULAR,5989126,2027972,40.641362,-74.017881
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35074800,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074801,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074802,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074803,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074804,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074805,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074806,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074807,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074808,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074809,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835
35074810,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835
35074811,S102,R165,00-05-01,tompkinsville,1,SRT,01/03/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835
35074812,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,21:00:00,REGULAR,696,0,40.636949,-74.074835
35074813,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,21:00:00,REGULAR,696,0,40.636949,-74.074835
35074814,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,21:00:00,REGULAR,696,0,40.636949,-74.074835
35074815,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,17:00:00,REGULAR,696,0,40.636949,-74.074835
35074816,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,17:00:00,REGULAR,696,0,40.636949,-74.074835
35074817,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,17:00:00,REGULAR,696,0,40.636949,-74.074835
35074818,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074819,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074820,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835
35074821,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074822,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074823,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835
35074824,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074825,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074826,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835
35074827,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835
35074828,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835
35074829,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835

In [59]:
merged_turnstile_geo["Station"].nunique()

239

# Reverse Geocoding to find Zip Codes of Subway stations

In [60]:
df_zicode= pd.read_csv("Resources/geo_to_zipcode.csv", low_memory=False)
df_zicode.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,...,Accuracy Score,Accuracy Type,Number,Street,City,State,County,Zip,Country,Source
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101,...,1.0,rooftop,5959,Broadway,Bronx,NY,Bronx County,10463,US,City of New York
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN,...,1.0,rooftop,193,W 237th St,Bronx,NY,Bronx County,10463,US,City of New York
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103,...,1.0,rooftop,193,W 237th St,Bronx,NY,Bronx County,10463,US,City of New York

In [61]:
list(df_zicode)

['stop_id',
 'stop_code',
 'stop_name',
 'stop_desc',
 'stop_lat',
 'stop_lon',
 'zone_id',
 'stop_url',
 'location_type',
 'parent_station',
 'Latitude',
 'Longitude',
 'Accuracy Score',
 'Accuracy Type',
 'Number',
 'Street',
 'City',
 'State',
 'County',
 'Zip',
 'Country',
 'Source']

In [62]:
new_df_zicode = df_zicode[['stop_lat', 'stop_lon', 'City', 'Zip', 'County' ]].copy()
new_df_zicode.head()

    stop_lat   stop_lon   City    Zip        County
0  40.889248 -73.898583  Bronx  10463  Bronx County
1  40.889248 -73.898583  Bronx  10463  Bronx County
2  40.889248 -73.898583  Bronx  10463  Bronx County
3  40.884667 -73.900870  Bronx  10463  Bronx County
4  40.884667 -73.900870  Bronx  10463  Bronx County

In [63]:
new_df_zicode.rename(columns = {'stop_lat': 'Station_lat', 'stop_lon': 'Station_lon'}, inplace=True)
new_df_zicode.head()

   Station_lat  Station_lon   City    Zip        County
0    40.889248   -73.898583  Bronx  10463  Bronx County
1    40.889248   -73.898583  Bronx  10463  Bronx County
2    40.889248   -73.898583  Bronx  10463  Bronx County
3    40.884667   -73.900870  Bronx  10463  Bronx County
4    40.884667   -73.900870  Bronx  10463  Bronx County

In [64]:
merged_turnstile_geo_zipcodes = pd.merge(merged_turnstile_geo, new_df_zicode, on=['Station_lat', 'Station_lon'], how='inner')
merged_turnstile_geo_zipcodes

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Station_lat,Station_lon,City,Zip,County
0,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
1,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
2,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
3,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
4,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
5,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
6,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
7,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
8,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,23:00:00,REGULAR,5991455,2028368,40.762526,-73.967967,New York,10022,New York County
9,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
10,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
11,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
12,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
13,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
14,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
15,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
16,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
17,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,19:00:00,REGULAR,5991003,2028335,40.762526,-73.967967,New York,10022,New York County
18,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
19,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
20,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
21,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
22,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
23,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
24,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
25,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
26,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,15:00:00,REGULAR,5989931,2028277,40.762526,-73.967967,New York,10022,New York County
27,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967,New York,10022,New York County
28,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967,New York,10022,New York County
29,A002,R051,02-00-00,59 st,NQR456W,BMT,12/30/2016,07:00:00,REGULAR,5989153,2028014,40.762526,-73.967967,New York,10022,New York County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105931050,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931051,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931052,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,13:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931053,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931054,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931055,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931056,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931057,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931058,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931059,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931060,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931061,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,09:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931062,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931063,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931064,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931065,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931066,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931067,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931068,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931069,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931070,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,05:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931071,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931072,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931073,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931074,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931075,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931076,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931077,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931078,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County
105931079,S102,R165,00-05-01,tompkinsville,1,SRT,01/02/2016,01:00:00,REGULAR,696,0,40.636949,-74.074835,Staten Island,10301,Richmond County

In [65]:
list(merged_turnstile_geo_zipcodes)

['C/A',
 'Unit',
 'SCP',
 'Station',
 'Line Name',
 'Division',
 'Date',
 'Time',
 'Description',
 'Entries',
 'Exits                                                     ',
 'Station_lat',
 'Station_lon',
 'City',
 'Zip',
 'County']

In [66]:
#merged_turnstile_geo_zipcodes.to_csv('merged_turnstile_geo_zipcodes.csv')

# Merging the census data with merged_turnstile_geo_zipcodes

In [67]:
df_census= pd.read_csv("Resources/clean_census_Output.csv", low_memory=False)
df_census

,Unnamed: 0,Year,ZIPCODE,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
0,0,2012,10001,8118354,20579.0,35.7,76138.0,74212.0,2672.0,12.9841100150639,13654.0,6925
1,1,2012,10002,585960,80323.0,39.9,32265.0,25518.0,22136.0,27.55873162107989,24852.0,55471
2,2,2012,10003,5244723,56614.0,32.2,91767.0,73196.0,6153.0,10.868336453880666,43932.0,12682
3,3,2012,10004,9670296,2780.0,33.8,127281.0,127628.0,300.0,10.79136690647482,2166.0,614
4,4,2012,10005,5947321,5724.0,28.4,120729.0,99403.0,590.0,10.307477288609364,4238.0,1486
5,5,2012,10006,2130252,2696.0,31.5,115787.0,98790.0,257.0,9.532640949554896,1871.0,825
6,6,2012,10007,2299621,6188.0,34.5,210125.0,156554.0,146.0,2.3594053005817712,4463.0,1725
7,7,2012,10009,378053,62397.0,37.0,59034.0,44705.0,12380.0,19.84069746942962,37680.0,24717
8,8,2012,10010,8044200,29396.0,35.3,95556.0,84619.0,3799.0,12.923527010477615,22061.0,7335
9,9,2012,10011,4399264,51853.0,40.3,101515.0,113300.0,4461.0,8.603166644167166,40428.0,11425
10,10,2012,10012,2920888,24703.0,33.4,77853.0,70333.0,2804.0,11.350848075132575,18713.0,5990
11,11,2012,10013,6381052,26090.0,35.5,68790.0,78155.0,3408.0,13.06247604446148,13714.0,12376
12,12,2012,10014,2571695,30893.0,37.3,105144.0,104544.0,1935.0,6.263554850613407,27323.0,3570
13,13,2012,10016,8483270,52624.0,32.7,101979.0,88265.0,4559.0,8.663347522043175,40479.0,12145
14,14,2012,10017,19166152,16137.0,35.9,108250.0,108756.0,1194.0,7.399144822457706,12133.0,4004
15,15,2012,10018,9874383,6147.0,31.6,87813.0,67612.0,1111.0,18.073857166097284,3545.0,2602
16,16,2012,10019,17441129,40351.0,37.7,80519.0,83097.0,4877.0,12.086441476047682,29130.0,11221
17,17,2012,10020,6226592,0.0,Info not available,Info not available,Info not available,0.0,Info not available,0.0,0
18,18,2012,10021,4782849,42646.0,40.8,106236.0,113504.0,2772.0,6.50002344885804,37594.0,5052
19,19,2012,10022,20186272,29317.0,45.6,106888.0,123140.0,1191.0,4.062489340655592,25002.0,4315
20,20,2012,10023,2498714,60447.0,41.2,105311.0,99534.0,5764.0,9.535626251096001,49718.0,10729
21,21,2012,10024,789282,58991.0,41.5,110091.0,101078.0,4238.0,7.184146734247597,48377.0,10614
22,22,2012,10025,1007483,96449.0,37.7,68463.0,55878.0,15391.0,15.957656377982145,64321.0,32128
23,23,2012,10026,84881,36797.0,33.1,42058.0,28181.0,10173.0,27.64627551159062,8576.0,28221
24,24,2012,10027,2135055,61018.0,30.9,35694.0,26335.0,16399.0,26.87567603002393,16910.0,44108
25,25,2012,10028,1168628,45799.0,39.7,107976.0,108314.0,2431.0,5.307976156684644,40937.0,4862
26,26,2012,10029,0,79031.0,32.7,31254.0,23812.0,21539.0,27.253862408422012,26436.0,52595
27,27,2012,10030,70986,29364.0,34.6,30674.0,23500.0,8495.0,28.929982291240975,3942.0,25422
28,28,2012,10031,127323,59708.0,31.8,36495.0,22867.0,17289.0,28.95591880485027,14712.0,44996
29,29,2012,10032,0,61650.0,34.2,36095.0,18608.0,16835.0,27.307380373073805,16266.0,45384
...,...,...,...,...,...,...,...,...,...,...,...,...
3105,1015,2016,11451,1351,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3106,1016,2016,11451,1339,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3107,1017,2016,11451,1380,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3108,1018,2016,11451,1344,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3109,1019,2016,11451,1326,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3110,1020,2016,11691,332139,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3111,1021,2016,11691,318880,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3112,1022,2016,11691,334972,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3113,1023,2016,11691,345774,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3114,1024,2016,11691,367992,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3115,1025,2016,11692,50989,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3116,1026,2016,11692,49564,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3117,1027,2016,11692,53964,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3118,1028,2016,11692,58676,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3119,1029,2016,11692,60780,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3120,1030,2016,11693,35819,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3121,1031,2016,11693,36078,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3122,1032,2016,11693,38904,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3123,1033,2016,11693,43309,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3124,1034,2016,11693,49180,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3125,1035,2016,11694,77181,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3126,1036,2016,11694,76652,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3127,1037,2016,11694,77551,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3128,1038,2016,11694,82136,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3129,1039,2016,11694,83790,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3130,1040,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3131,1041,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3132,1042,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3133,1043,2016,11697,14045,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3134,1044,2016,11697,16467,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152

In [68]:
list(df_census)

['Unnamed: 0',
 'Year',
 'ZIPCODE',
 'Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']

In [69]:
df_census = df_census.drop('Unnamed: 0', 1)

In [70]:
df_census

,Year,ZIPCODE,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
0,2012,10001,8118354,20579.0,35.7,76138.0,74212.0,2672.0,12.9841100150639,13654.0,6925
1,2012,10002,585960,80323.0,39.9,32265.0,25518.0,22136.0,27.55873162107989,24852.0,55471
2,2012,10003,5244723,56614.0,32.2,91767.0,73196.0,6153.0,10.868336453880666,43932.0,12682
3,2012,10004,9670296,2780.0,33.8,127281.0,127628.0,300.0,10.79136690647482,2166.0,614
4,2012,10005,5947321,5724.0,28.4,120729.0,99403.0,590.0,10.307477288609364,4238.0,1486
5,2012,10006,2130252,2696.0,31.5,115787.0,98790.0,257.0,9.532640949554896,1871.0,825
6,2012,10007,2299621,6188.0,34.5,210125.0,156554.0,146.0,2.3594053005817712,4463.0,1725
7,2012,10009,378053,62397.0,37.0,59034.0,44705.0,12380.0,19.84069746942962,37680.0,24717
8,2012,10010,8044200,29396.0,35.3,95556.0,84619.0,3799.0,12.923527010477615,22061.0,7335
9,2012,10011,4399264,51853.0,40.3,101515.0,113300.0,4461.0,8.603166644167166,40428.0,11425
10,2012,10012,2920888,24703.0,33.4,77853.0,70333.0,2804.0,11.350848075132575,18713.0,5990
11,2012,10013,6381052,26090.0,35.5,68790.0,78155.0,3408.0,13.06247604446148,13714.0,12376
12,2012,10014,2571695,30893.0,37.3,105144.0,104544.0,1935.0,6.263554850613407,27323.0,3570
13,2012,10016,8483270,52624.0,32.7,101979.0,88265.0,4559.0,8.663347522043175,40479.0,12145
14,2012,10017,19166152,16137.0,35.9,108250.0,108756.0,1194.0,7.399144822457706,12133.0,4004
15,2012,10018,9874383,6147.0,31.6,87813.0,67612.0,1111.0,18.073857166097284,3545.0,2602
16,2012,10019,17441129,40351.0,37.7,80519.0,83097.0,4877.0,12.086441476047682,29130.0,11221
17,2012,10020,6226592,0.0,Info not available,Info not available,Info not available,0.0,Info not available,0.0,0
18,2012,10021,4782849,42646.0,40.8,106236.0,113504.0,2772.0,6.50002344885804,37594.0,5052
19,2012,10022,20186272,29317.0,45.6,106888.0,123140.0,1191.0,4.062489340655592,25002.0,4315
20,2012,10023,2498714,60447.0,41.2,105311.0,99534.0,5764.0,9.535626251096001,49718.0,10729
21,2012,10024,789282,58991.0,41.5,110091.0,101078.0,4238.0,7.184146734247597,48377.0,10614
22,2012,10025,1007483,96449.0,37.7,68463.0,55878.0,15391.0,15.957656377982145,64321.0,32128
23,2012,10026,84881,36797.0,33.1,42058.0,28181.0,10173.0,27.64627551159062,8576.0,28221
24,2012,10027,2135055,61018.0,30.9,35694.0,26335.0,16399.0,26.87567603002393,16910.0,44108
25,2012,10028,1168628,45799.0,39.7,107976.0,108314.0,2431.0,5.307976156684644,40937.0,4862
26,2012,10029,0,79031.0,32.7,31254.0,23812.0,21539.0,27.253862408422012,26436.0,52595
27,2012,10030,70986,29364.0,34.6,30674.0,23500.0,8495.0,28.929982291240975,3942.0,25422
28,2012,10031,127323,59708.0,31.8,36495.0,22867.0,17289.0,28.95591880485027,14712.0,44996
29,2012,10032,0,61650.0,34.2,36095.0,18608.0,16835.0,27.307380373073805,16266.0,45384
...,...,...,...,...,...,...,...,...,...,...,...
3105,2016,11451,1351,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3106,2016,11451,1339,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3107,2016,11451,1380,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3108,2016,11451,1344,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3109,2016,11451,1326,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,Info not available,0.0,0
3110,2016,11691,332139,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3111,2016,11691,318880,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3112,2016,11691,334972,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3113,2016,11691,345774,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3114,2016,11691,367992,64946.0,31.9,41190.0,18914.0,14548.0,22.400147815107935,24927.0,40019
3115,2016,11692,50989,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3116,2016,11692,49564,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3117,2016,11692,53964,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3118,2016,11692,58676,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3119,2016,11692,60780,19403.0,35.2,42333.0,21298.0,4368.0,22.511982683090245,5028.0,14375
3120,2016,11693,35819,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3121,2016,11693,36078,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3122,2016,11693,38904,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3123,2016,11693,43309,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3124,2016,11693,49180,12021.0,40.6,53829.0,28079.0,1992.0,16.571000748689794,6911.0,5110
3125,2016,11694,77181,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3126,2016,11694,76652,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3127,2016,11694,77551,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3128,2016,11694,82136,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3129,2016,11694,83790,21219.0,46.1,79145.0,41019.0,1364.0,6.428201140487299,17345.0,3874
3130,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3131,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3132,2016,11697,0,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3133,2016,11697,14045,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152
3134,2016,11697,16467,3928.0,47.5,100909.0,46604.0,168.0,4.276985743380855,3776.0,152

In [71]:
# df_census['Median Age'] = pd.to_numeric(df_census['Median Age'], errors='coerce')
# df_census['Household Income'] = pd.to_numeric(df_census['Household Income'], errors='coerce')
# df_census['Per Capita Income'] = pd.to_numeric(df_census['Per Capita Income'], errors='coerce')
cols = ['Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']
df_census[cols] = df_census[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [72]:
# cols = ['Median Age','Household Income','Per Capita Income']
df_census[cols] = df_census[df_census[cols] > 0.0][cols]
new_df_census = df_census.dropna()

In [73]:
new_df_census

,Year,ZIPCODE,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
0,2012,10001,8118354.0,20579.0,35.7,76138.0,74212.0,2672.0,12.984110,13654.0,6925.0
1,2012,10002,585960.0,80323.0,39.9,32265.0,25518.0,22136.0,27.558732,24852.0,55471.0
2,2012,10003,5244723.0,56614.0,32.2,91767.0,73196.0,6153.0,10.868336,43932.0,12682.0
3,2012,10004,9670296.0,2780.0,33.8,127281.0,127628.0,300.0,10.791367,2166.0,614.0
4,2012,10005,5947321.0,5724.0,28.4,120729.0,99403.0,590.0,10.307477,4238.0,1486.0
5,2012,10006,2130252.0,2696.0,31.5,115787.0,98790.0,257.0,9.532641,1871.0,825.0
6,2012,10007,2299621.0,6188.0,34.5,210125.0,156554.0,146.0,2.359405,4463.0,1725.0
7,2012,10009,378053.0,62397.0,37.0,59034.0,44705.0,12380.0,19.840697,37680.0,24717.0
8,2012,10010,8044200.0,29396.0,35.3,95556.0,84619.0,3799.0,12.923527,22061.0,7335.0
9,2012,10011,4399264.0,51853.0,40.3,101515.0,113300.0,4461.0,8.603167,40428.0,11425.0
10,2012,10012,2920888.0,24703.0,33.4,77853.0,70333.0,2804.0,11.350848,18713.0,5990.0
11,2012,10013,6381052.0,26090.0,35.5,68790.0,78155.0,3408.0,13.062476,13714.0,12376.0
12,2012,10014,2571695.0,30893.0,37.3,105144.0,104544.0,1935.0,6.263555,27323.0,3570.0
13,2012,10016,8483270.0,52624.0,32.7,101979.0,88265.0,4559.0,8.663348,40479.0,12145.0
14,2012,10017,19166152.0,16137.0,35.9,108250.0,108756.0,1194.0,7.399145,12133.0,4004.0
15,2012,10018,9874383.0,6147.0,31.6,87813.0,67612.0,1111.0,18.073857,3545.0,2602.0
16,2012,10019,17441129.0,40351.0,37.7,80519.0,83097.0,4877.0,12.086441,29130.0,11221.0
18,2012,10021,4782849.0,42646.0,40.8,106236.0,113504.0,2772.0,6.500023,37594.0,5052.0
19,2012,10022,20186272.0,29317.0,45.6,106888.0,123140.0,1191.0,4.062489,25002.0,4315.0
20,2012,10023,2498714.0,60447.0,41.2,105311.0,99534.0,5764.0,9.535626,49718.0,10729.0
21,2012,10024,789282.0,58991.0,41.5,110091.0,101078.0,4238.0,7.184147,48377.0,10614.0
22,2012,10025,1007483.0,96449.0,37.7,68463.0,55878.0,15391.0,15.957656,64321.0,32128.0
23,2012,10026,84881.0,36797.0,33.1,42058.0,28181.0,10173.0,27.646276,8576.0,28221.0
24,2012,10027,2135055.0,61018.0,30.9,35694.0,26335.0,16399.0,26.875676,16910.0,44108.0
25,2012,10028,1168628.0,45799.0,39.7,107976.0,108314.0,2431.0,5.307976,40937.0,4862.0
27,2012,10030,70986.0,29364.0,34.6,30674.0,23500.0,8495.0,28.929982,3942.0,25422.0
28,2012,10031,127323.0,59708.0,31.8,36495.0,22867.0,17289.0,28.955919,14712.0,44996.0
30,2012,10033,248456.0,57073.0,35.6,41352.0,24088.0,13643.0,23.904473,23958.0,33115.0
31,2012,10034,104865.0,41200.0,36.4,43049.0,23071.0,9509.0,23.080097,15193.0,26007.0
32,2012,10035,394245.0,34709.0,33.0,26214.0,18712.0,13684.0,39.424933,7716.0,26993.0
...,...,...,...,...,...,...,...,...,...,...,...
3097,2016,11435,315989.0,57627.0,35.8,55268.0,24100.0,10246.0,17.779860,11556.0,46071.0
3098,2016,11435,337931.0,57627.0,35.8,55268.0,24100.0,10246.0,17.779860,11556.0,46071.0
3099,2016,11435,335695.0,57627.0,35.8,55268.0,24100.0,10246.0,17.779860,11556.0,46071.0
3100,2016,11436,27226.0,20136.0,35.7,66837.0,24118.0,2611.0,12.966826,1463.0,18673.0
3101,2016,11436,26568.0,20136.0,35.7,66837.0,24118.0,2611.0,12.966826,1463.0,18673.0
3102,2016,11436,30719.0,20136.0,35.7,66837.0,24118.0,2611.0,12.966826,1463.0,18673.0
3103,2016,11436,31635.0,20136.0,35.7,66837.0,24118.0,2611.0,12.966826,1463.0,18673.0
3104,2016,11436,33746.0,20136.0,35.7,66837.0,24118.0,2611.0,12.966826,1463.0,18673.0
3110,2016,11691,332139.0,64946.0,31.9,41190.0,18914.0,14548.0,22.400148,24927.0,40019.0
3111,2016,11691,318880.0,64946.0,31.9,41190.0,18914.0,14548.0,22.400148,24927.0,40019.0
3112,2016,11691,334972.0,64946.0,31.9,41190.0,18914.0,14548.0,22.400148,24927.0,40019.0
3113,2016,11691,345774.0,64946.0,31.9,41190.0,18914.0,14548.0,22.400148,24927.0,40019.0
3114,2016,11691,367992.0,64946.0,31.9,41190.0,18914.0,14548.0,22.400148,24927.0,40019.0
3115,2016,11692,50989.0,19403.0,35.2,42333.0,21298.0,4368.0,22.511983,5028.0,14375.0
3116,2016,11692,49564.0,19403.0,35.2,42333.0,21298.0,4368.0,22.511983,5028.0,14375.0
3117,2016,11692,53964.0,19403.0,35.2,42333.0,21298.0,4368.0,22.511983,5028.0,14375.0
3118,2016,11692,58676.0,19403.0,35.2,42333.0,21298.0,4368.0,22.511983,5028.0,14375.0
3119,2016,11692,60780.0,19403.0,35.2,42333.0,21298.0,4368.0,22.511983,5028.0,14375.0
3120,2016,11693,35819.0,12021.0,40.6,53829.0,28079.0,1992.0,16.571001,6911.0,5110.0
3121,2016,11693,36078.0,12021.0,40.6,53829.0,28079.0,1992.0,16.571001,6911.0,5110.0
3122,2016,11693,38904.0,12021.0,40.6,53829.0,28079.0,1992.0,16.571001,6911.0,5110.0
3123,2016,11693,43309.0,12021.0,40.6,53829.0,28079.0,1992.0,16.571001,6911.0,5110.0
3124,2016,11693,49180.0,12021.0,40.6,53829.0,28079.0,1992.0,16.571001,6911.0,5110.0
3125,2016,11694,77181.0,21219.0,46.1,79145.0,41019.0,1364.0,6.428201,17345.0,3874.0
3126,2016,11694,76652.0,21219.0,46.1,79145.0,41019.0,1364.0,6.428201,17345.0,3874.0
3127,2016,11694,77551.0,21219.0,46.1,79145.0,41019.0,1364.0,6.428201,17345.0,3874.0
3128,2016,11694,82136.0,21219.0,46.1,79145.0,41019.0,1364.0,6.428201,17345.0,3874.0
3129,2016,11694,83790.0,21219.0,46.1,79145.0,41019.0,1364.0,6.428201,17345.0,3874.0
3133,2016,11697,14045.0,3928.0,47.5,100909.0,46604.0,168.0,4.276986,3776.0,152.0
3134,2016,11697,16467.0,3928.0,47.5,100909.0,46604.0,168.0,4.276986,3776.0,152.0

In [74]:
#new_df_census.to_csv('cleaned_census_withou_negatives.csv')

In [75]:
list(new_df_census)

['Year',
 'ZIPCODE',
 'Total Annual Payroll',
 'Population',
 'Median Age',
 'Household Income',
 'Per Capita Income',
 'Poverty Count',
 'Poverty Rate',
 'Whites Alone',
 'Non Whites']

In [76]:
new_df_census = new_df_census.rename(columns = {'ZIPCODE': 'Zip'})
new_df_census.head()

,Year,Zip,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
0,2012,10001,8118354.0,20579.0,35.7,76138.0,74212.0,2672.0,12.984110,13654.0,6925.0
1,2012,10002,585960.0,80323.0,39.9,32265.0,25518.0,22136.0,27.558732,24852.0,55471.0
2,2012,10003,5244723.0,56614.0,32.2,91767.0,73196.0,6153.0,10.868336,43932.0,12682.0
3,2012,10004,9670296.0,2780.0,33.8,127281.0,127628.0,300.0,10.791367,2166.0,614.0
4,2012,10005,5947321.0,5724.0,28.4,120729.0,99403.0,590.0,10.307477,4238.0,1486.0

In [77]:
df_census_filtered = new_df_census[(new_df_census.Year == 2016)]
df_census_filtered.head()

,Year,Zip,Total Annual Payroll,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Whites Alone,Non Whites
2090,2016,10001,8118354.0,23332.0,35.8,85168.0,86347.0,3922.0,16.809532,14814.0,8518.0
2091,2016,10001,8717306.0,23332.0,35.8,85168.0,86347.0,3922.0,16.809532,14814.0,8518.0
2092,2016,10001,8907912.0,23332.0,35.8,85168.0,86347.0,3922.0,16.809532,14814.0,8518.0
2093,2016,10001,9226142.0,23332.0,35.8,85168.0,86347.0,3922.0,16.809532,14814.0,8518.0
2094,2016,10001,9003675.0,23332.0,35.8,85168.0,86347.0,3922.0,16.809532,14814.0,8518.0

In [37]:
#df_census_filtered.to_csv("df_census_filtered.csv")

In [45]:
df_census_filtered = df_census_filtered.groupby ("Zip")

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [44]:
merged_turnstile_geo_zipcodes = merged_turnstile_geo_zipcodes.groupby("Zip")

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
merged_turnstile_geo_zipcodes_census_2016= pd.merge(merged_turnstile_geo_zipcodes, df_census_filtered, on='Zip', how='outer')
merged_turnstile_geo_zipcodes_census_2016

In [ ]:
merged_turnstile_geo_zipcodes_census_2016= pd.concat([merged_turnstile_geo_zipcodes, df_census_filtered],axis=1)