In [1]:
import os
import pandas as pd

In [3]:
weather_data = pd.read_csv('Weather data.csv', header=0)

In [7]:
list(weather_data)

['dt',
 'dt_iso',
 'city_id',
 'city_name',
 'lat',
 'lon',
 'temp',
 'temp_min',
 'temp_max',
 'pressure',
 'sea_level',
 'grnd_level',
 'humidity',
 'wind_speed',
 'wind_deg',
 'rain_1h',
 'rain_3h',
 'rain_24h',
 'rain_today',
 'snow_1h',
 'snow_3h',
 'snow_24h',
 'snow_today',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_icon']

In [10]:
temps = weather_data['temp']
temps

0        272.03
1        271.46
2        271.19
3        271.07
4        270.83
5        270.64
6        269.98
7        269.76
8        270.17
9        271.33
10       271.75
11       271.34
12       271.41
13       271.60
14       272.14
15       273.12
16       274.37
17       275.37
18       276.43
19       276.61
20       276.27
21       275.56
22       275.50
23       275.83
24       275.76
25       275.83
26       276.03
27       276.03
28       276.09
29       276.60
          ...
61083    282.69
61084    282.38
61085    281.80
61086    281.04
61087    280.24
61088    279.80
61089    279.35
61090    279.27
61091    278.67
61092    278.11
61093    277.73
61094    277.08
61095    276.58
61096    275.79
61097    275.07
61098    275.21
61099    275.10
61100    275.30
61101    275.02
61102    274.78
61103    274.61
61104    274.64
61105    275.41
61106    275.80
61107    276.31
61108    276.75
61109    276.76
61110    276.72
61111    276.49
61112    276.51
Name: temp, Length: 61113, dtype: float64

In [11]:
far_temps = []
for x in range(len(temps)):
    far_temp=(temp[x] - 273.15) * 9/5 + 32
    far_temps.append(far_temp)

In [15]:
far_temps
len(far_temps)
len(weather_data)

61113

In [22]:
type(far_temps)

list

In [23]:
weather_data['real_temp'] = far_temps

In [24]:
list(weather_data)

['dt',
 'dt_iso',
 'city_id',
 'city_name',
 'lat',
 'lon',
 'temp',
 'temp_min',
 'temp_max',
 'pressure',
 'sea_level',
 'grnd_level',
 'humidity',
 'wind_speed',
 'wind_deg',
 'rain_1h',
 'rain_3h',
 'rain_24h',
 'rain_today',
 'snow_1h',
 'snow_3h',
 'snow_24h',
 'snow_today',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_icon',
 'real_temp']

In [25]:
weather_data['real_temp']

0        29.984
1        28.958
2        28.472
3        28.256
4        27.824
5        27.482
6        26.294
7        25.898
8        26.636
9        28.724
10       29.480
11       28.742
12       28.868
13       29.210
14       30.182
15       31.946
16       34.196
17       35.996
18       37.904
19       38.228
20       37.616
21       36.338
22       36.230
23       36.824
24       36.698
25       36.824
26       37.184
27       37.184
28       37.292
29       38.210
          ...
61083    49.172
61084    48.614
61085    47.570
61086    46.202
61087    44.762
61088    43.970
61089    43.160
61090    43.016
61091    41.936
61092    40.928
61093    40.244
61094    39.074
61095    38.174
61096    36.752
61097    35.456
61098    35.708
61099    35.510
61100    35.870
61101    35.366
61102    34.934
61103    34.628
61104    34.682
61105    36.068
61106    36.770
61107    37.688
61108    38.480
61109    38.498
61110    38.426
61111    38.012
61112    38.048
Name: real_temp, Length: 61113, dtype: float64

In [27]:
weather_data.head(100)

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,real_temp
0,1356998400,2013-01-01 00:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.03,270.37,273.15,1019,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,29.984
1,1357002000,2013-01-01 01:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.46,270.37,272.15,1020,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,28.958
2,1357005600,2013-01-01 02:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.19,269.82,272.15,1021,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,28.472
3,1357009200,2013-01-01 03:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.07,269.82,272.15,1021,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,28.256
4,1357012800,2013-01-01 04:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.83,269.82,272.15,1021,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,27.824
5,1357016400,2013-01-01 05:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.64,269.15,272.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,27.482
6,1357020000,2013-01-01 06:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.98,269.82,270.37,0,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n,26.294
7,1357023600,2013-01-01 07:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.76,266.15,272.15,1022,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,25.898
8,1357027200,2013-01-01 08:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.17,269.15,272.15,1022,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n,26.636
9,1357030800,2013-01-01 09:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.33,270.93,272.15,1022,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,28.724
10,1357034400,2013-01-01 10:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.75,270.15,274.15,1022,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,29.480
11,1357038000,2013-01-01 11:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.34,270.15,274.15,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,28.742
12,1357041600,2013-01-01 12:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.41,270.15,273.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,28.868
13,1357045200,2013-01-01 13:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.60,271.15,272.15,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,29.210
14,1357048800,2013-01-01 14:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.14,271.15,273.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,30.182
15,1357052400,2013-01-01 15:00:00 +0000 UTC,5128581,NaN,NaN,NaN,273.12,272.15,275.93,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,31.946
16,1357056000,2013-01-01 16:00:00 +0000 UTC,5128581,NaN,NaN,NaN,274.37,273.15,277.59,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,34.196
17,1357059600,2013-01-01 17:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.37,275.15,276.48,1020,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,35.996
18,1357063200,2013-01-01 18:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.43,275.15,278.71,1018,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,37.904
19,1357066800,2013-01-01 19:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.61,275.93,277.15,1017,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,38.228
20,1357070400,2013-01-01 20:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.27,275.93,277.15,1017,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,37.616
21,1357074000,2013-01-01 21:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.56,274.26,276.15,1015,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,36.338
22,1357077600,2013-01-01 22:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.50,274.82,276.15,1015,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,36.230
23,1357081200,2013-01-01 23:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.83,275.15,277.15,1015,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,36.824
24,1357084800,2013-01-02 00:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.76,275.15,276.15,1015,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,36.698
25,1357088400,2013-01-02 01:00:00 +0000 UTC,5128581,NaN,NaN,NaN,275.83,275.15,277.15,1014,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,36.824
26,1357092000,2013-01-02 02:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.03,275.15,277.15,1013,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,37.184
27,1357095600,2013-01-02 03:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.03,275.15,277.15,1012,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,37.184
28,1357099200,2013-01-02 04:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.09,275.15,277.15,1012,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,37.292
29,1357102800,2013-01-02 05:00:00 +0000 UTC,5128581,NaN,NaN,NaN,276.60,275.93,278.15,1013,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,38.210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1357261200,2013-01-04 01:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.41,269.82,272.15,1020,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,28.868
71,1357264800,2013-01-04 02:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.27,269.26,272.15,1020,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,28.616
72,1357268400,2013-01-04 03:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.97,269.15,272.15,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,28.076
73,1357272000,2013-01-04 04:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.83,269.82,272.15,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,27.824
74,1357275600,2013-01-04 05:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.77,269.82,272.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,27.716
75,1357279200,2013-01-04 06:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.53,269.15,272.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,27.284
76,1357282800,2013-01-04 07:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.39,269.15,272.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,27.032
77,1357286400,2013-01-04 08:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.12,269.15,271.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,26.546
78,1357290000,2013-01-04 09:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.72,268.71,271.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,25.826
79,1357293600,2013-01-04 10:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.41,268.15,271.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,25.268
80,1357297200,2013-01-04 11:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.07,268.15,270.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,24.656
81,1357300800,2013-01-04 12:00:00 +0000 UTC,5128581,NaN,NaN,NaN,268.63,267.15,270.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,23.864
82,1357304400,2013-01-04 13:00:00 +0000 UTC,5128581,NaN,NaN,NaN,268.59,266.15,270.15,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,23.792
83,1357308000,2013-01-04 14:00:00 +0000 UTC,5128581,NaN,NaN,NaN,269.04,267.15,270.93,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,24.602
84,1357311600,2013-01-04 15:00:00 +0000 UTC,5128581,NaN,NaN,NaN,270.39,269.15,272.59,1023,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,27.032
85,1357315200,2013-01-04 16:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.09,270.15,272.59,1022,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,28.292
86,1357318800,2013-01-04 17:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.40,271.15,275.37,1021,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,30.650
87,1357322400,2013-01-04 18:00:00 +0000 UTC,5128581,NaN,NaN,NaN,273.25,272.15,274.82,1020,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d,32.180
88,1357326000,2013-01-04 19:00:00 +0000 UTC,5128581,NaN,NaN,NaN,274.29,273.15,277.04,1019,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d,34.052
89,1357329600,2013-01-04 20:00:00 +0000 UTC,5128581,NaN,NaN,NaN,274.29,273.15,275.93,1018,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02d,34.052
90,1357333200,2013-01-04 21:00:00 +0000 UTC,5128581,NaN,NaN,NaN,273.28,271.48,274.15,1018,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,32.234
91,1357336800,2013-01-04 22:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.44,270.93,274.15,1019,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,30.722
92,1357340400,2013-01-04 23:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.92,270.93,273.15,1019,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,29.786
93,1357344000,2013-01-05 00:00:00 +0000 UTC,5128581,NaN,NaN,NaN,271.99,270.93,273.15,1019,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n,29.912
94,1357347600,2013-01-05 01:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.31,271.48,274.15,1019,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,30.488
95,1357351200,2013-01-05 02:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.05,270.37,274.15,1019,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,30.020
96,1357354800,2013-01-05 03:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.25,270.93,274.15,1019,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,30.380
97,1357358400,2013-01-05 04:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.45,270.93,274.15,1019,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,30.740
98,1357362000,2013-01-05 05:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.64,271.48,274.15,1018,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,31.082
99,1357380000,2013-01-05 10:00:00 +0000 UTC,5128581,NaN,NaN,NaN,272.82,271.15,274.15,1018,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n,31.406

In [30]:
model_data = weather_data["dt_iso", "real_temp", "weather_main", "weather_description"]

KeyError: ('dt_iso', 'real_temp', 'weather_main', 'weather_description')